extends _layout


block nav
  - var servicestelle = {text: "Servicestelle ÄK", link: "#allgemeines"}
  - var meldeverpflichtungen = {text: "Meldeverpflichtungen", link: "#allgemeines.meldeverpflichtungen"}
  - var aek_aufgaben = {text:"Die Ärztekammer und ihre Aufgaben", link: "#allgemeines.aek_aufgaben"}
  - var haftpflicht = {text: "Berufshaftpflichtversicherung", link: "#allgemeines.haftpflicht"}
  - var wohlfahrtsfonds = {text: "Wohlfahrtsfonds", link: "#allgemeines.wohlfahrtsfonds"}
  - var sonderkonditionen = {text: "Sonderkonditionen", link: "#allgemeines.sonderkonditionen"}
  - var medien = {text: "Medien/Infos für ÄrztInnen", link: "#allgemeines.medien"}
  - var reihung = {text: "Reihungsrichtlinien, Vertretung", link: "#allgemeines.reihung"}
  - 
  - var nav = [servicestelle, meldeverpflichtungen, aek_aufgaben, haftpflicht, wohlfahrtsfonds,  sonderkonditionen, medien, reihung]
  +portlet-nav(nav)
  
