mixin asset-abstract(data)
  //- data should be:
  //- promoted: boolean, true if abstract should be hightlighted
  //- link: file to link to
  //- linktitle
  //- content: text that should appear in abstract
  //- buttonlink: link to file where "More" links to
  - var klass = (data.promo === true? "asset-abstract span6 promo" : "asset-abstract span6")
  div(class=klass)
    .lfr-meta-actions.asset-actions  
    .asset-body
      h3.asset-title
        a(href=data.link)= data.title
      .asset-content
        .asset-summary
          block
    a.btn.btn-default(role='button', href=data.buttonlink)
      span.btn-title Mehr lesen
      span.hide-accessible Testanzeige für Werbeschaltung
    .asset-category-name  Anzeige 
    .asset-metadata
