extends _layout

block nav
  - var vorwort = {text: "Vorwort", link: "#aus_fortbildung"}
  //- var inhalte = {text: "Ausbildungsinhalte", link: "#aus_fortbildung.ausbildungsinhalte"}
  - var rasterzeugnisse = {text: "Rasterzeugnisse", link: "#aus_fortbildung.rasterzeugnisse"}
  - 
  - var   ausbildungsreform2015 = {text: "Ausbildungsreform 2015", link: "#aus_fortbildung.ausbildungsreform2015"}
  - var   allgemeinmedizin = {text: "Arzt für Allgemeinmedizin", link: "#aus_fortbildung.allgemeinmedizin"}
  - var   facharzt = {text: "Facharzt", link: "#aus_fortbildung.facharzt"}
  - var   arztpruefung = {text: "Arztprüfung <img src='images/common/externer_link.gif'>", link: "http://www.aeksbg.at/arztpruefung"}
  - var   ausbildungsstaetten = {text: "Ausbildungsstätten", link: "#aus_fortbildung.ausbildungsstaetten"}
  - var   fortbildung = {text: "Ärzte-Fortbildung", link: "#aus_fortbildung.fortbildung"}
  - var   bildungspartnerschaft = {text: "Bildungspartnerschaft", link: "#aus_fortbildung.bildungspartnerschaft"}
  - var aerzteausbildung = {text: "Ausbildung", link: "#aus_fortbildung.aerzteausbildung", items: [ausbildungsreform2015, allgemeinmedizin, facharzt, arztpruefung, ausbildungsstaetten, rasterzeugnisse]}
  - 
  - var nav = [vorwort, aerzteausbildung, fortbildung, bildungspartnerschaft]

  +portlet-nav(nav)

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner2", feil)

