footer(id="page-footer", role="contentinfo")
  .container-footer
    .container
      .row-fluid
        .span3
          h1 Ärztekammer für Salzburg
          address.text-block
            | Faberstraße 10
            br 
            | 5020 Salzburg
            br
            | Tel: +43 662 871327-0, Fax DW -10
            br
            a(href="mailto:aeksbg@aeksbg.at") aeksbg@aeksbg.at
        .span3.offset1
          h1 Anfahrt
          a(href="https://www.openstreetmap.org/way/54773275#map=18/47.80556/13.04503", target="_blank")
            img(alt="Anfahrt", class="img-responsive", src="images/staticmap.png")
        .span3.offset1
          h1 Service
          ul.nav.text-block
            li
              a(href="http://aeksbg.at/arztsuche", target="_self", title="Arztsuche").
                #[i.icon-angle-right]
                Arztsuche
            li
              a(href="http://aeksbg.at/funktionaersuche", target="_self", title="Funktionärssuche").
                #[i.icon-angle-right]
                Funktionärssuche
            li
              a(href="http://aeksbg.at/mitarbeitersuche", target="_self", title="Mitarbeitersuche").
                #[i.icon-angle-right]
                Mitarbeitersuche
            li
              a(href="http://aeksbg.at/impressum", target="_self", title="Impressum").
                #[i.icon-angle-right]
                Impressum
              ul.dropdown-menu(role="menu")
                li 
                  a(target="_blank", title="Ärztekammer für Österreich", href="http://www.aerztekammer.at") Ärztekammer für Österreich
                li  
                  a(target="_blank", title="Ärztekammer für Burgenland", href="http://www.aekbgld.at/") Ärztekammer für Burgenland
                li 
                  a(target="_blank", title="Ärztekammer für Kärnten", href="http://www.aekktn.at/") Ärztekammer für Kärnten
                li
                  a(target="_blank", title="Ärztekammer für Niederösterreich", href="http://www.arztnoe.at/") Ärztekammer für Niederösterreich
                li 
                  a(target="_blank", title="Ärztekammer für Oberösterreich", href="http://www.aekooe.or.at/") Ärztekammer für Oberösterreich
                li 
                  a(target="_blank", title="Ärztekammer für Salzburg", href="http://www.aeksbg.at/") Ärztekammer für Salzburg
                li 
                  a(target="_blank", title="Ärztekammer für Steiermark", href="http://www.aekstmk.or.at/") Ärztekammer für Steiermark
                li 
                  a(target="_blank", title="Ärztekammer für Tirol", href="http://www.aektirol.at/") Ärztekammer für Tirol
                li 
                  a(target="_blank", title="Ärztekammer für Vorarlberg", href="http://www.aekvbg.or.at/") Ärztekammer für Vorarlberg
                li 
                  a(target="_blank", title="Ärztekammer für Wien", href="http://www.aekwien.at/") Ärztekammer für Wien
      .row-fluid.copyright
        .span12
          - var year = new Date().getFullYear()
          p.small
            span © #{year} Ärztekammer für Salzburg – Alle Rechte vorbehalten - 
            span Realisation USBCard: 
              a(href="mailto:office@nerdocs.at") Dr. Christian González - 
            include version
            span.stick-version Version: #{version}
          
            
