include _asset-abstract
include _portlet-person
include _portlet-persongroup
include _section-content
include _portlet-nav


//- Dieser Inhalt wird als HTML im body-Element
#wrapper
  .outer-container
    .container
      block header
        header#page-header(role='banner')
          ul#topNav.nav.nav-navigation(role='menubar', style='display:none;')  
          #page-banner.banner  
          .logo-element  
          h1.site-title
            a.logo.custom-logo(href='index.html', title='Ärztekammer für Salzburg')
              span.site-name(title='Willkommen in der Ärztekammer Salzburg')  Ärztekammer für Salzburg
          include _credentials
          include _navigation
            
      #top-content.row-fluid
      #main-content.columns-2.rightsplit(role='main')
        .portlet-layout.row-fluid
          #column-3.span4.portlet-column.portlet-column-last.pull-right
            #layout-column_column-3.portlet-dropzone.empty.portlet-column-content.portlet-column-content-last
              block nav
              block persons
              block data
          #column-1.span8.portlet-column.portlet-column-first(style='min-height: 1144px;')
            #layout-column_column-1.portlet-dropzone.portlet-column-content.portlet-column-content-first
              .portlet-boundary.portlet-static.portlet-static-end.portlet-asset-publisher
                block column-1
          #column-2.span4.portlet-column.portlet-column-last.pull-right
            #layout-column_column-2.portlet-dropzone.portlet-column-content.portlet-column-content-last
              block column-2
      block footer
        include _footer
  
