mixin menuitem(title, link, right)
  li(id="layout", class="lfr-nav-item", role="presentation", style=right? "float: right;" : "")
    a(href=link, title=title class="menu-item", role="menuitem")
      span= title

nav#navigation.sort-pages.modify-pages.navbar.site-navigation(role='navigation')
  .navbar-inner
    .collapse.nav-collapse
      ul.nav.nav-collapse(aria-label='Site-Seiten', role='menubar')
        +menuitem("Willkommen", "#")
        +menuitem("Allgemeines", "#allgemeines")
        +menuitem("Arzt & Recht", "#rechtliches.grundvoraussetzungen")
        +menuitem("Aus- & Fortbildung", "#aus_fortbildung")
        +menuitem("Feedback", "#verbesserungsvorschlag", true)

