mixin portlet_persongroup(title)
  //- title: Titel des blocks
  //- headertext: text in header über Foto
  //- name, email, tel, fax: daten der Person. Falls leer, wirds nicht gerendert.
  //- foto_filename Dateiname des Fotos mit Endung. Foto muss in Verzeichnis images/ sein
  .portlet-boundary.portlet-static.portlet-static-end.portlet-journal-content
    section.portlet.panel.panel-primary
      header.portlet-topper.panel-heading
        h1.portlet-title.panel-title
          span.portlet-title-text= title

      block
