mixin nav-subitem(item)
  li(class= "#"+currentRoute === item.link ? "active" : "")
    a(href=item.link)!= item.text 
    each subitem in item.items? item.items : []
      ul.nav.nav-list.layouts.level-3
        +nav-subitem(subitem)
        
mixin nav-item(item)
  li(class= "#"+currentRoute === item.link ? "open active" : "open")
    a.open(href=item.link)!= item.text
    ul.nav.nav-list.layouts.level-2
      each subitem in item.items? item.items : []
        +nav-subitem(subitem)
        
        

//- menu = [ {text: "Allgemeines", link: "allgemeines.html", items: {...}}, {...} ]
//- optional: title = {text: "Willkommen", link: "index.html"}
mixin portlet-nav(menu, title)
  .portlet-navigation
    section.portlet.panel.panel-primary
        header.portlet-topper.panel-heading
          h1.portlet-title.panel-title
            span.portlet-title-text= title? title : "Navigation"
        .portlet-content.panel-body
          .portlet-content-container
            .portlet-body
              .nav-menu.nav-menu-style-
                ul.nav.nav-list.layouts.level-1
                  each item in menu.length? menu : []
                    +nav-item(item)

