//- title, link ist selbsterklärend
//- type: Dateiendung. Falls im Ordner /images eine Datei namens <type>.png
//- existiert, wird diese zum Link angezeigt.
//- Wenn z.B. "pdf" angebenen wird, sucht das Skript nach der Datei "pdf.png"
//- Der Blockinhalt von download_file selbst wird als Beschreibung unterhalb des Dateilinks plaziert
mixin download_file(title, link, type)
  .asset-abstract(style='clear: both;')
    h3.asset-title
      if type
        img(style='border-width: 0; text-align: left;', src='images/'+type+'.png')
      a(href=link, target="_blank")= title
    .asset-summary
      block

//- Das Portlet für Downloads.
//- title ist optional.
mixin portlet_download(title)
  .portlet-boundary.portlet-boundary_101_.portlet-static.portlet-static-end.portlet-asset-publisher
    section.portlet.panel.panel-primary
      header.portlet-topper.panel-heading
        h1.portlet-title.panel-title
          span.portlet-title-text= title
      .portlet-content.panel-body
        .portlet-content-container(style='')
          .portlet-body
            .lfr-meta-actions.add-asset-selector  
            .pak1
              block
              
