//- rendert ein image einer Person, die ihm übergeben wird.
//- Wenn die Person nicht vorhanden ist ("undefined"), wird
//- ein leeres "nobody"-Bild gerendert.
//- Standardmäßig wird das Bild im Text links-gefloated. Wenn als 2. Parameter "right" übergeben wird, wird es
    //- nach rechts gefloated.
mixin image(person, right)
  - var folder = "images/"
  - var side = right? "right" : "left"
  if ! person
    - var person= { img: "nobody.jpg" }
    
  img(src=folder + person.img, style="float: " + side + "; margin-left: 5px; margin-right: 5px; width: 134px; height: 186px;")


mixin portlet_person(id, person, headertext)
  //- id: tag-id des HTML, damit später das Element einfach wieder gefunden werden kann
  //- person:
  //  - name, email, tel, fax: daten der Person. Falls leer, wirds nicht gerendert.
  //  - img: Dateiname des Fotos mit Endung. Foto muss in Verzeichnis images/ sein
  //- headertext: text in header über Foto
  if id && person
    .portlet-content.panel-body
      .portlet-content-container
        .portlet-body
          .journal-content-article
            if headertext
              h3= headertext
            //- table(style='width: 350px', border='0', cellpadding='1', cellspacing='1')
            table(border='0', cellpadding='1', cellspacing='1')
              tbody
                tr
                  td
                    p(style='text-align: justify')
                      img(alt=person.name, src='images/'+person.img, style='width: 80px; height: 110px;')
                  td
                    p(style='text-align: justify')
                      strong(id=id + "-name")= person.name
                    if person.tel
                      p(id=id + "-tel")= "Tel: " + person.tel
                    if person.fax
                      p(id=id + "-fax")= "Fax: " + person.fax
                    if person.email 
                      p(id=id + "-email", style='text-align: justify') #[a(href='mailto:' + person.email) Email schreiben]
