extends _layout



block nav
  //- var rechtepflichten = {text: "Rechte & Pflichten als Turnusarzt", link: "#rechtliches.rechtepflichten"}
  - var werberichtlinien = {text: "Werberichtlinien", link: "#rechtliches.werberichtlinien"}

  - var grundvoraussetzungen = {text: "Grundvoraussetzung der Berufsausübung", link: "#rechtliches.grundvoraussetzungen"}
  //- var grundlagen = {text: "Ausbildungsrechtliche Grundlagen", link: "#rechtliches.grundlagen", items:[grundvoraussetzungen]}

  - var karenz = {text: "Karenz", link: "#rechtliches.karenz"}
  - var verhaltenskodex = {text: "Ärztlicher Verhaltenskodex", link: "#rechtliches.verhaltenskodex"}
  //- var gesetze = {text: "Gesetze und Verordnungen", link: "#rechtliches.gesetze", items: [verhaltenskodex, werberichtlinien]}

  - var recht_fuer_ta = {text: "Recht für Turnusärzte", link: "#rechtliches.ta"}
  - var nav = [grundvoraussetzungen, recht_fuer_ta, verhaltenskodex, karenz, werberichtlinien]

  +portlet-nav(nav)

