mixin section-content(title)
  section.portlet.panel.panel-primary
    header.portlet-topper.panel-heading
      h1.portlet-title.panel-title= title
    .portlet-content.panel-body
      .portlet-content-container
          .portlet-body
            .journal-content-article
              block
