extends _allgemeines

mixin asset_abstract(title, image_path, link)
  .asset-abstract(style='clear: both;')
    .lfr-meta-actions.asset-actions  
    img(src=image_path, style='float: left; padding: 0 1em .5em 0; margin-top: 4px;')
    h3.asset-title
      a(href=link)=title
    .asset-content
      .asset-summary
        block
      .asset-metadata  
      if link
        a(style='display: block; float: right; ', href=link)
          | Mehr lesen
          span.hide-accessible ÜberHandy
          |  »
      .clearfix
  


block append persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("sonderkonditionen-sag", boehm, "Salzburg-AG")
    +portlet_person("sonderkonditionen-telefon", heindl, "Telefon")
    +portlet_person("sonderkonditionen-sparkasse", griessner, "Salzburger Sparkasse")

block column-1  
  +section-content("Sonderkonditionen für Ärzte")
    :marked
      Es gibt für ÄrztInnen von der Ärztekammer Salzburg mit einigen Firmen ausverhandelte Tarife, die tlw. deutlich unter dem üblichen Niveau liegen. Dazu gehören unter anderem Handy-, Breitband- aber auch Strom- und Erdgas-Tarife, sowie Angebote der Salzburger Sparkasse.
      
      Alle aktuellen Sonderkonditionen finden Sie nachstehend.
  +section-content("Vergünstigungen")
    +asset_abstract("Mobiles Breitband", "images/sk-laptop.png", "http://aeksbg.at/sonderkonditionen/-/asset_publisher/GXyjoXXPpay0/content/mobiles-breitband")
      | Internet ohne Telefonie.
    +asset_abstract("Handy mit/ohne Datentarif", "images/sk-handy.jpg", "http://www.aeksbg.at/sonderkonditionen/-/asset_publisher/iHmXO4RUD2nr/content/handy?_101_INSTANCE_iHmXO4RUD2nr_redirect=%2Fsonderkonditionen")
      | Es gibt 2 Tarifmöglichkeiten und bei Bedarf Zusatzoptionen für Datenvolumen. 
    +asset_abstract("Strompoolvereinbarung", "images/sk-salzburgag.jpg", "http://www.aeksbg.at/sonderkonditionen/-/asset_publisher/iHmXO4RUD2nr/content/strompoolvereinbarung?_101_INSTANCE_iHmXO4RUD2nr_redirect=%2Fsonderkonditionen")
      | Neues Pool-Angebot für Strom, Erdgas und Internet mit der Salzburg AG ab 1. Jänner 2018 Wenn Sie der Vereinbarung beitreten, wird Ihnen nachstehende Sonderkondition gewährt: Für Ihre...  
    +asset_abstract("Besondere Angebote der Salzburger Sparkasse", "images/Salzburger-Sparkasse-mit-Slogan-HG.jpg")
      :marked
        Als langjähriger Bildungspartner der Salzburger Ärzte stellen wir Ihnen folgende Angebote zur Verfügung:

        **Für Ihren Zahlungsverkehr** 

        - All-inklusiv-AESCULAP-Konto für niedergelassene Ärzte
        - All-inklusiv-AESCULAP-Konto für angestellte Ärzte
        - Turnusärztekonto – unser kostenloses Konto für Turnusärzte

        **Für Investitionen in Ihre Ordination und Investitionen für private Zwecke**

        - Finanzierungserfahrung aus 15 Jahren Ärztebetreuung und ausgezeichnetes Finanzierungsservice 
        - Rahmenkreditvereinbarung zwischen Salzburger Ärztekammer und Salzburger Sparkasse für Investitionen in Ihre bestehende Arztpraxis oder für Investitionen im Zuge Ihrer Praxisgründung 
        
        **Beratungszentrum Freie Berufe der Salzburger Sparkasse Bank**
        
        Die Salzburger Sparkasse hat im Jahr 2000 ein eigenes Beratungszentrum speziell für Freiberufler, insbesondere für Ärzte, gegründet. Hier hat man sich auf die Beratung und Betreuung dieser Kundenschicht spezialisiert. Details finden Sie [hier](https://www.sparkasse.at/filialsuche/standorte/filiale/5021-salzburg/alter-markt-3/at05090705).
        
        Für Fragen steht Ihnen im Beratungszentrum Freie Berufe der Salzburger Sparkasse Gerhard Griessner (siehe rechts) sehr gerne zur Verfügung. 
