extends _allgemeines

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-haftpflicht", heindl)
    +portlet_person("ansprechpartner-haftpflicht2", buchmayer)
    
block column-1  
  +section-content("Berufshaftpflichtversicherung")
    :marked
      Mit der 14. Ärztegesetznovelle wurde eine verpflichtende Berufshaftpflichtversicherung für freiberufliche ärztliche Tätigkeit im ÄrzteG in § 52 d eingeführt. Somit besteht mit der Anmeldung bzw. Eintragung einer freiberuflichen ärztlichen Tätigkeit in der Ärzteliste die Verpflichtung, eine Ärztehaftpflichtversicherung abzuschließen. Für angestellte ÄrztInnen und ÄrztInnen in Ausbildung ist es nicht zwingend vorgesehen, aber ist es sehr zu empfehlen, eine Ärztehaftpflichtversicherung abzuschließen, da gegebenenfalls auch Regressansprüche vom Dienstgeber gegenüber der angestellten ÄrztInnen möglich sind. 
      
      Daher empfehlen wir, auch als TurnusärztIn eine Haftpflichtversicherung abzuschließen. Es gibt hierbei passende Angebote für ÄrztInnen in Ausbildung, diese Versicherungen sind auch steuerlich absetzbar. Für diesbezügliche Fragen wenden Sie sich bitte an Frau Sommerer (siehe rechts).

      ### Zweck der Haftpflichtversicherung:
        
      * Absicherung gegen die finanziellen Folgen eines Schadenersatzanspruchs eines Geschädigten
      * Feststellung ob und in welcher Form eine Haftung vorliegt.
      
      ### Aufgaben der Ärzte-Haftpflichtversicherung:
      Befreiungsanspruch, d.h. die Erfüllung von Schadenersatzverpflichtungen, die dem Versicherungsnehmer wegen eines Personenschadens, Sachschadens oder eines reinen Vermögensschadens aufgrund gesetzlicher Haftpflichtbestimmungen erwachsen, übernimmt die Versicherung.

      ### Schadenarten:
        
      ##### Personenschäden
      Tötung, Körperverletzung oder Gesundheitsschädigung von Menschen und deren Folgen z.B:
      infolge einer Operation bleibt ein Patient schwerst behindert und stellt
      Schadenersatzforderungen bez. Schmerzensgeld, Verdienstentgang, Pflegekosten und
      Unterhaltszahlungen.

      ##### Sachschäden
      Beschädigung, Vernichtung, Verlust oder Abhandenkommen von körperlichen Sachen und deren Folgen. Z.B: Während der Behandlung wird die Kleidung des Patienten beschmutzt. Dieser fordert Schadenersatz für das Hemd.
      
      ##### Reine Vermögensschäden
      Schäden, die weder auf einen Personen- noch auf einen Sachschaden
      zurückzuführen sind. Z.B: Trotz umfangreicher Pränataluntersuchungen werden Missbildungen
      am Embryo übersehen. Es kommt ein schwer behindertes Kind zur Welt. Die Eltern fordern
      Schadenersatz für Pflege und Versorgung des behinderten Kindes.
      Achtung: Diese Problematik hat sich erst in den letzten Jahren verschärft und wurde bereits
      in einigen Urteilen gegen einen betroffenen Arzt entschieden. Dieses Risiko wird von der
      Ärzteschaft enorm unterschätzt. Bedenken Sie, dass Sie heute einen Vertrag abschließen, der
      auch in einigen Jahren einer nicht vorhersehbar geänderten Judikatur entsprechen soll.
      Deckungsumfang:
      Die Versicherung erstreckt sich auf die selbständige und/oder unselbständige Berufsausübung
      als Arzt und umfasst auch Schadenersatzverpflichtungen wie z.B.:
      * aus der Innehabung und Verwaltung der Ordination
      * der angestellten Mitarbeiter
      * der Tätigkeit der Urlaubsvertretung
      * etc.

      Weiteres ist noch zu beachten, dass von der Ärztehaftpflicht **nicht automatisch der Rechtsschutz umfasst ist**. Es wird empfohlen gegebenenfalls immer Kontakt mit der jeweiligen Versicherungsgesellschaft aufzunehmen. Alle weiteren Details finden Sie auf unserer [Homepage](http://www.aeksbg.at/haftpflichtversicherung).
      
  +section-content("Berufshaftpflichtversicherung")
    :marked
      ## Wir haben für Sie verhandelt
      
      Für Mitglieder der Ärztekammer für Salzburg wurde ein Rahmenvertrag mit der GENERALI-Versicherung abgeschlossen.

      Auf unserer Homepage finden sie dazu die [Rahmenvereinbarung](http://aeksbg.at/documents/10682/133203/Rahmenvereinbarung_Haftpflichtversicherung.pdf/144af618-5a5c-49f2-a5ea-37131b2d8709), das [Antragsformular]( http://www.aeksbg.at/documents/10682/133203/Rahmenvereinbarung_Haftpflichtversicherung.pdf/144af618-5a5c-49f2-a5ea-37131b2d8709) sowie das [Rundschreiben vom März 2011](http://www.aeksbg.at/documents/10682/133203/Rundschreiben+Verpflichtende+Haftpflichtversicherung/e99a7c48-07e5-4bda-a557-b76de9abc0fa).

      Bitte vergleichen Sie auf jeden Fall mit anderen Angeboten!

  
