extends _allgemeines

include _portlet-downloads


block append persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("reihungsrichtlinien", riss, "Reihungsrichtlinien, Vertreterliste")

block data
  +portlet_download("Downloads")
    +download_file("Antrag um Aufnahme in die Bewerberliste", "http://www.aeksbg.at/documents/10682/139284/Antrag+um+Aufnahme+in+die+Bewerberliste/d6fd028e-175c-4f4e-978e-1128fd5326a0", "docx")
    +download_file("Vertretungsbestätigung", "http://www.aeksbg.at/documents/10682/139284/Vertretungsbest%C3%A4tigung/ef175add-6dbe-45aa-8c76-55c30c462ef6", "docx")
    +download_file("Bewerbungsformular", "http://www.aeksbg.at/documents/10682/139284/Bewerbungsformular/4332fe7d-5fa2-4eb7-8391-36769cb1a7a3", "docx")
    +download_file("Aufnahme in die Vertreterliste", "http://www.aeksbg.at/documents/10682/1082770/Aufnahme+Vertreterliste.pdf/22a37b3a-0c94-4b19-93be-552704b6928d?t=1358503715000", "pdf")
    
block column-1  
  +section-content("Wie werde ich Kassenarzt/-ärztin")
    :marked
      Sofern grundsätzliches Interesse an einer Kassenarztstelle besteht, ist es ratsam sich ehestmöglich in die BewerberInnenliste eintragen zu lassen. Dies ist frühestens mit der Zuerkennung des Diploms für Allgemeinmedizin bzw. Diploms des jeweiligen Sonderfaches möglich. Die Ärztekammer Salzburg führt für jedes Sonderfach eine Einzel- und Gruppenpraxenliste sowie für Allgemeinmedizin je eine Liste für die Region Nord und Süd. Der Antrag auf Aufnahme in die BewerberInnenliste ist rechts sowie auf der der Homepage zum [Download](http://www.aeksbg.at/documents/10682/139284/Antrag+um+Aufnahme+in+die+Bewerberliste/d6fd028e-175c-4f4e-978e-1128fd5326a0?t=1380118846000) bereitgestellt. 
      
      Die Bewertung der BewerberInnen erfolgt anhand eines objektiven Punktesystems (Reihungsrichtlinien). Daraus resultiert eine Reihung der Bewerberinnen und Bewerber. Die Reihungsrichtlinien sowie die aktuelle BewerberInnenliste sind auf unserer Homepage veröffentlicht.

      Zu beachten ist, dass es in den Salzburger Reihungsrichtlinien 2 Stichtage für die Bekanntgabe von Änderungen gibt, d.h. vor diesen Stichtagen, spätestens am Vortag bis zum Ende der offiziellen Dienstzeit des Büros der ÄKS oder per FAX oder Mail bis 23.59 Uhr dieses Tages, müssen Änderungen eingereicht werden, sonst finden Sie keine Berücksichtigung in der Bewertung. **Stichtage sind der 1.4. sowie der 1.10.**. Kurz nach diesen Stichtagen wird jeweils eine neue Reihung (BewerberInnenliste) veröffentlicht, die dann für ein halbes Jahr gültig ist.

      ### Ausschreibungen von Kassenplanstellen

      Auf der Homepage der Ärztekammer für Salzburg werden die Ausschreibungen der Kassenplanstellen (für Salzburg) veröffentlicht. Die Anzahl der Stellen ist genau geregelt und zwar in einem Stellenplan, in dem letztlich sogar der Standort (Bezirks bzw. Gemeindeebene) fixiert ist.
 
      Die Bewerbungen für die offenen Kassenstellen sind unter Einhaltung der in der Ausschreibung angeführten Bewerbungsfrist an die Ärztekammer, Fr. Riß, 0662/871327-125 bzw. mail: [riss@aeksbg.at](mailto:riss@aeksbg.at) zu richten. Nähere Informationen zum genauen Ausschreibungs- und dem darauffolgenden Vergabeprozedere erhalten Sie jederzeit bei Fr. Riß und den Praxisgründungsseminaren!

  +section-content("Vertretung")
    :marked
      ### Praxisvertreterliste
    
      Optional können Sie sich in die Praxisvertreterliste eintragen lassen. Diese Liste wird auf Anfrage versandt bzw. ist auf unserer Homepage abrufbar. Wir können Ihren Eintrag nur dann vornehmen, wenn das Formular zur Gänze ausgefüllt wurde. Weiters dürfen wir Sie ersuchen, uns jede Änderung sofort bekannt zu geben.

      Bitte klicken Sie [hier](http://www.aeksbg.at/documents/10682/1082770/Aufnahme+Vertreterliste.pdf/22a37b3a-0c94-4b19-93be-552704b6928d?t=1358503715000), um das Formular zur Aufnahme in die Praxisvertreterliste zu erhalten.   


