extends _allgemeines

//- block persons
//-  +portlet_persongroup("Ansprechpartner")
//-    +portlet_person("ansprechpartner-haftpflicht1", koller)
//-    +portlet_person("ansprechpartner-haftpflicht3", feil)

block column-1  
  +section-content("Die Ärztekammer und ihre Aufgaben")
    :marked
      ## [Das Präsidium](http://www.aeksbg.at/praesidium)

      Das Präsidium ist für die Koordination zwischen der Kurie für angestellte Ärzte
      und der Kurie für niedergelassene Ärzte, für die Entscheidungskompetenz in dringenden
      Angelegenheiten sowie die Personalkompetenz zuständig. Die
      Vertretung der Ärztekammer nach außen ist Aufgabe des Präsidenten Dr. Karl Forstner.
      Der Präsident wird im Verhinderungsfall durch die Vizepräsidenten in der
      entsprechenden Reihenfolge vertreten.
      
      ## [Der Kammervorstand](http://aeksbg.at/kammervorstand)

      Dem Kammervorstand obliegt die Funktion
      der Regierung und ist für alles zuständig, was nicht durch Gesetz ausdrücklich einem
      anderen Organ der Ärztekammer als Aufgabe zugewiesen ist. Gewählt wird der
      Kammervorstand von der Vollversammlung.


      ## [Die Kurienversammlung](http://www.aeksbg.at/kurienversammlung)

      Die von den Mitgliedern einer Kurie gewählten Kammerräte bilden die
      Kurienversammlung. Diese wird erstmals vom Präsidenten einberufen.

      ## [Die Vollversammlung](http://aeksbg.at/vollversammlung)

      Diese Vollversammlung der Ärztekammer hat die Funktion des Parlaments und ist
      zuständig für: die autonome Satzung der Ärztekammer, des [Wohlfahrtsfonds](#allgemeines.wohlfahrtsfonds), die
      Höhe der Kammerumlagen und die Beiträge zum Wohlfahrtsfonds. Die Vollversammlung
      der Ärztekammer erstellt also die Budgets und Rechnungsabschlüsse der
      Ärztekammer.
