extends _allgemeines

block append persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("meldung", wiesner,  "Servicestelle")
    
block column-1  
  +section-content("Meldeverpflichtungen")
    :marked
      ##...auch in Ihrem eigenen Interesse!

      Um die Ihnen als Mitglied der Ärztekammer zustehenden Leistungen erbringen zu können, ersuchen wir Sie, den
      auch im Ärztegesetz festgeschriebenen Meldeverpflichtungen nachzukommen. Dies liegt in Ihrem eigenen Interesse: Ändert sich Ihre Adresse und wir haben davon keine Kenntnis, so hat das zur Folge, dass wir Ihnen wichtiges Informationsmaterial nicht mehr zustellen
      können. Oder unterlassen Sie beispielsweise das Melden von Veränderungen in Ihrem Familienstand, so können wir Ihre Angehörigen nicht in die Versorgungsleistungen des Wohlfahrtsfonds einbeziehen usw.. Nachfolgend finden Sie eine Zusammenstellung jener Veränderungen, die für uns von grundlegendem Interesse sind. 
      
      ## Meldungen an Ihre Standesführung in der Ärztekammer für Salzburg:
        
      Nachstehend die wichtigsten Veränderungen, welche die Ärztin/der Arzt der ÖÄK über ihre/seine Landesärztekammer binnen einer Woche schriftlich mitzuteilen hat:
      * Namensänderung (bitte um Vorlage von der Heiratsurkunde oder Bescheid der Behörde im Original oder in beglaubigter Kopie)
      * Bitte beachten Sie: Bei einer Namensänderung ist der Ärzteausweis neu zu beantragen!
      * Wechsel des Wohnsitzes
      * Wechsel des Dienstgebers 
      * Wechsel in ein anderes Bundesland
      * Verzug ins Ausland (Einstellung der ärztlichen Tätigkeit in Österreich)
      
      Um Sie gegebenenfalls umgehend kontaktieren zu können:
      
      * Änderungen der e-mail Adresse
      * Änderungen Ihrer Rufnummern (Handy, Festnetz...)
      
      Nach abgeschlossener Ausbildung – Ius Practicandi notwendig:
      
      * Einstellung der ärztlichen Tätigkeit
      * Eröffnung bzw. Einstellung einer Ordination
      * Ärztliche Nebentätigkeiten (Vertretungen, Notdienstteilnahme, Betriebsarzt, Schularzt, ...)
      
      ## Meldungen an den Wohlfahrtsfonds der Ärztekammer für Salzburg:
      
      * Änderungen des Familienstandes (Verehelichung, Scheidung, Geburt eines Kindes, Todesfall)
      * Karenzurlaub und Sonderurlaub
      * Arbeitslosigkeit
      * Präsenzdienst und Zivildienst
      * Pensionsanträge
      * Meldungen bezüglich Krankenstand und stationärem Aufenthalt (Krankenunterstützung)<br/> **ACHTUNG: betrifft nur niedergelassene Ärzte, die Beiträge gemäß §9 Beitragsordnung entrichten!**
      * Kurantrag im Vorhinein (zur Vorlage im Verwaltungsausschuss)
