extends _allgemeines

    
block column-1  
  +section-content("Servicestelle Ärztekammer")
    h2 Wir sind für Sie da!
    table
      tbody
        tr
          td Montag, Dienstag, Mittwoch
          td 08.00 bis 16.00 Uhr
        tr
          td Donnerstag
          td 08.00 bis 18.00 Uhr
        tr
          td Freitag
          td 08.00 bis 14.00 Uhr
    p
      strong Ärztekammer für Salzburg
      br
      | Faberstraße 10
      br
      | 5020 Salzburg
      br
      | Telefon: +43 662 871327-0, Fax DW -10
      br
      | aeksbg@aeksbg.at

block persons 
   +portlet_persongroup("Ansprechpartner")
    +portlet_person("servicestelle1", schoepp)
    +portlet_person("servicestelle2", stadlbauer)
