extends _allgemeines

block append persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-wohlfahrtsfonds", zilavec)
    
block column-1  
  +section-content("Wohlfahrtsfonds")
    :marked
      Der Wohlfahrtsfonds der Ärztekammer Salzburg ist neben der "staatlichen Pension" das zweite Standbein (standeseigene Vorsorge) für die Pensionssicherung der Salzburger Ärzte und Ärztinnen.
      Der Fonds ist ein **zweckgebundenes Sondervermögen der Ärztekammer**. Aus ihm sind die Versorgungs- und Unterstützungsleistungen zu erbringen.
      
      Mit der Mitgliedschaft zur Ärztekammer Salzburg (bzw. Zahnärztekammer für Salzburg) ist grundsätzlich auch die Mitgliedschaft zum Wohlfahrtsfonds verbunden. Daraus resultiert einerseits die **Verpflichtung zur Beitragszahlung** und andererseits das **Recht auf Leistungen aus dem Wohlfahrtsfonds**.


      Der Wohlfahrtsfonds der Ärztekammer Salzburg wurde im Jahr 1951 gegründet, wobei es damals in einer solidarischen Aktion der Ärzteschaft gelungen ist, den Wohlfahrtsfonds aufzubauen und die Versorgung auch derjenigen älteren Kollegenschaft zu übernehmen und sicherzustellen.
      
      Mit diesem Wohlfahrtsfonds gibt der Staat der Ärzteschaft per Gesetz die Möglichkeit eine standeseigene Altersversorgung selbst zu verwalten, selbst zu bestimmen und sie kurzfristig der spezifischen Struktur der Ärzteschaft anzupassen. Ein wesentlicher Vorteil durch die Ärztekammer als Körperschaft öffentlichen Rechts (also mit Pflichtmitgliedschaft) besteht u.a. auch darin, dass die Beiträge zum Wohlfahrtsfonds **steuerlich voll absetzbar** sind.

      Detailierte Informationen finden Sie in der [Broschüre über den Wohlfahrtsfonds](http://www.aeksbg.at/documents/10682/3815551/Brosch%C3%BCre+Wohlfahrtsfonds.pdf/f6fc00c1-fcdd-4511-be9e-c66ea3eac7d6)

