extends _allgemeines

block append persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-medien", fuchs)
    
block column-1  
  +section-content("Medien/Infos für Ärzte")
    :marked
      Die Österreichische Ärztekammer und Ihre Ärztekammer für Salzburg bieten umfassendes Medienservice. Schnelle Informationen - themenbezogen - erhalten Sie per E-Mail. Um *up-to-date* zu bleiben, **überprüfen Sie bitte stets die Aktualität Ihrer E-Mail-Adresse und geben Sie etwaige Änderungen der Standesführung bekannt**.

      Weitere Medien zu Ihrer laufenden Information:

      ## med.ium - Das Magazin für Ärztinnen und Ärzte in Salzburg

      "med.ium" geht als offizielle Mitgliederzeitung an alle ÄrztInnen im Bundesland Salzburg, an alle Ärztekammern in den Bundesländern und deren Funktionäre bzw. an 300 Abonnenten österreichweit. Mit aktueller Standespolitik, medizinischen Neuerungen, Seminaren und Fortbildungen bringen wir unterschiedliche redaktionelle Inhalte, um unsere ÄrztInnen immer *up-to-date* zu halten.


      ## Österreichische Ärztezeitung

      Die Publikation der Österreichischen Ärztekammer / Verlagshaus der Ärzte, die Ihnen ab Anmeldung in der Ärztekammer für Salzburg ebenfalls zugeschickt wird, informiert über gesundheitspolitische Themen von bundesweitem ärztlichem Interesse.

      Homepage der Ärztekammer für Salzburg

      [www.gesund-in-salzburg.at](http://www.gesund-in-salzburg.at)

      Homepage der Österreichischen Ärztekammer

      [www.aerztekammer.at](http://www.aerztekammer.at)

      Die Homepage der Ärztekammer Salzburg enthält ein umfangreiches, aktuelles Informationsangebot und bietet auch die Möglichkeit, sich auf einfache Weise auf den Sites der Österreichischen Ärztekammer und der "akademie der ärzte" für das Diplomfortbildungsprogramm einzuloggen.

      Das Passwort für Ihr Login erhalten Sie mit dieser USB-card.

