extends _aus_fortbildung

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-allgemeines", matzek)

block column-1  
  +section-content("Arzt für Allgemeinmedizin")
    :marked
      ## Ausbildung zum Arzt für Allgemeinmedizin
      
      Die Ausbildung zum Arzt für Allgemeinmedizin ist in § 7 Ärztegesetz sowie in den Bestimmungen der Ärzte-Ausbildungsordnung (ÄAO) 1994 sowie 2006 geregelt (für Ärzt/Innen, die ihre postpromotionelle Ausbildung nach dem 1.2.2007 begonnen haben, gilt die ÄAO 2006).

      Die Ausbildung zum Arzt für Allgemeinmedizin ist an Ausbildungsstätten, die von der Österreichischen Ärztekammer für die Ausbildung zum Arzt für Allgemeinmedizin anerkannt wurden, zu absolvieren.

      Bis dato beträgt die Ausbildungsdauer zum/zur ÄrztIn für Allgemeinmedizin zumindest 3 Jahre und umfasst:


      1. **Absolvierung der entsprechenden Ausbildungszeit**
      Aktuell können 6 Monate in anerkannten Lehrgruppenpraxen, 
      Lehrambulatorien oder Einrichtungen die der medizinischen Erstversorgung
      dienen (Spitalsambulanzen) angerechnet werden. (Das sind primär chirurgische
      unfallchirurgische oder interne Ambulanzen).
      2. **Positive Absolvierung der schriftlichen Arztprüfung**
      Die Anmeldung zur Arztprüfung kann erst nach 30 Monaten Eintragung in die Ärzteliste erfolgen
      3. **Rasterzeugnisse** (Unterschrift des Ausbildungsverantwortlichen sowie Unterschrift des ärztlichen Leiters bei Krankenanstalten)


      ### Wichtige Informationen

      *   Nicht jede Zuteilung auf eine Spitalsambulanz wird automatisch als Ausbildungszeit im Fach für Allgemeinmedizin angerechnet. Es ist daher wichtig im Vorhinein abzuklären, ob eine geplante Zuteilung auch tatsächlich angerechnet wird um nicht umsonst Monate in einer Zuteilung zu absolvieren. Auf unserer Homepage finden Sie auch [anerkannte Spitalsambulanzen](http://www.aeksbg.at/ausbildungsstattenverzeichnis)
      *   Wesentlich ist, dass neben der praktischen Ausbildung diese auch theoretische Inhalte umfassen muss, sowie Kenntnisse für die Ausübung des ärztlichen Berufs einschlägigen Rechtsvorschriften insbesondere hinsichtlich Aufklärung, Dokumentation Qualitätssicherung. Die Kenntnisse können durch externe sowie hausinterne Fortbildungen erfolgen, wobei diese zur Gänze in der Dienstzeit durchzuführen bzw. man dafür von Arbeitgeber freizustellen ist.
      *   **Achtung!** Fortbildungen die über die Dienstzeit hinausgehen sind als Überstunden zu vergüten.
      *   **Wichtig!** Für eine Facharztausbildung kann die Ausbildung zur ÄrztIn für Allgemeinmedizin nur als Nebenfachzeit aber niemals als Hauptfachzeit angerechnet werden! Dies sollte man jedenfalls unbedingt bedenken.
  
      ### Einreichung zum Arzt für Allgemeinmedizin:

      - Antragsformular (erhalten Sie vor Ort)
      - Original-Rasterzeugnisse (bitte um Überprüfung der Ausbildungszeit und um ein korrekt ausgefülltest Zeugnis; Unterschrift des Ausbildungsverantwortlichen sowie Unterschrift des ärztlichen Leiters bei Krankenanstalten)
      - Kopie des Prüfungszertifikates Arzt für Allgemeinmedizin
      - Bescheide über bereits anerkannte Auslandszeiten (wenn vorhanden)
      - eventuell Notarztbestätigung
      - Ärzteausweis
      
      Bitte vereinbaren Sie jedenfalls einen Termin bei Claudia Matzek:

      Tel: 871327-112<br/>
      E-Mail: matzek@aeksbg.at

