extends _aus_fortbildung

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-rasterzeugnisse1", matzek)
    +portlet_person("ansprechpartner-rasterzeugnisse2", grubinger)
    
block column-1  
  +section-content("Rasterzeugnisse")
    :marked
      Rasterzeugnisse sind Dokumente, welche den Nachweis über eine erfolgreich zurückgelegte Ausbildungszeit darlegen. Sie beinhalten die vermittelten Kenntnisse, Erfahrung und Fertigkeiten, also die Ausbildungsinhalte für jedes Ausbildungsfach. Auch bedeutend ist es, sich bereits vor der Ausbildung das Rasterzeugnis anzusehen um genau feststellen zu können was man auf welchem Gebiet zu erlernen hat. 

      Die Rasterzeugnisse sind [auf unserer Homepage](http://www.aeksbg.at/rasterzeugnisse) zu finden. Diese sind gemäß den Bestimmungen der Ärzteausbildungsordnung 2006 dem jeweiligen Turnusarzt vom Ausbildungsverantwortlichen am Beginn der Ausbildung zur Kenntnis zu bringen und werden nach Absolvierung der jeweiligen Ausbildung von den Ausbildungsverantwortlichen ausgefüllt. 

      Bei Einreichung des Diploms zur FachärztIn oder ÄrztIn für Allgemeinmedizin müssen sämtliche Rasterzeugnisse im Original vorgelegt werden: denn nur dann wenn diese vollständig und korrekt ausgefüllt sind, können sie akzeptiert werden. Aus diesem Grund werden besonders auf folgende Punkte Bedacht zu nehmen sein:

      1. Es muss vom Ausbildungsverantwortlichen das **richtige** Rasterzeugnis verwendet werden 
      2. Bei Wechsel der Ausbildungsstätte ist **pro Ausbildungsstätte ein Rasterzeugnis** zu verwenden
      3. Die absolvierten Ausbildungsinhalte und Ausbildungszeiten müssen den Vorgaben der Ärzteausbildungsordnung entsprechen. Der Antrag auf das Diplom *ÄrztIn für Allgemeinmedizin* kann erst gestellt werden, wenn alle in der Ausbildungsordnung vorgesehenen Ausbildungsinhalte und Zeiten absolviert wurden.
      4. Sofort nach Erhalt des Zeugnisses überprüfen: Wurde das **Datum des Ausbildungszeitraums** korrekt ausgefüllt und gerechnet? Das nachträgliche Korrigieren ist sehr schwierig.
      5. Wurden alle nötigen Einträge gemacht und **keine Unterschriften und Stempel übersehen**?
      6. Wurde die **theoretische Unterweisung** auf dem jeweiligen Raster vermerkt?
      7. Im Rasterzeugnis sind auch **Verhinderungs- und Unterbrechungszeiten** anzugeben wie z.B.: Urlaub, Erkrankung, Präsenzdienst etc. - bitte überprüfen!
      8. Vor der Ausfüllung des Rasterzeugnisses ist ein **Evaluierungsgespräch in dem jeweiligen Ausbildungsabschnitt zwingend vorgesehen**.

      Sollte es zu einer Negativbeurteilung durch den Abteilungsleiter kommen, ist diese schriftlich zu begründen. Gleichzeitig muss auch festgehalten werden, in welchen Zeitraum eine positive Absolvierung voraussichtlich zu erwarten ist. Wenn man tatsächlich von einer negativen Beurteilung ausgeht, sollte man sich umgehend an den Turnusärztevertreter der Ärztekammer für Salzburg wenden und entsprechende Gespräche mit dem Abteilungsleiter gemeinsam mit dem Turnusärztevertreter führen. 

      Bei Unsicherheiten ist es auch möglich, bereits vorab (*vor* Einreichung des Diploms zum Facharzt bzw. ÄrztIn für Allgemeinmedizin) die Anrechenbarkeit der Ausbildungszeit kontrollieren zu lassen. 

      Zusammenfassend über Rasterzeugnisse ist nochmals festzuhalten, dass jedenfalls gegenüber den Ausbildungsverantwortlichen ein unverzüglicher Anspruch auf Ausstellung des Rasterzeugnisses nach Absolvierung der jeweiligen Mindestausbildungszeit zusteht. Nach Ende der Ausbildung im Hauptfach bei der Facharztausbildung, hat man jedenfalls den Anspruch auf Aushändigung eines Rasterzeugnisses. Man sollte dies auch umgehend einfordern, um überprüfen zu können welche Ausbildungsinhalte tatsächlich vermittelt werden und welche Fachgebiete OP-Techniken oder sonstige Untersuchungsmethoden noch ausständig sind. 

      Bei negativem Ausbildungserfolg sollte man sich umgehend an die Ärztekammer für Salzburg bzw. an die Turnusärztevertreter wenden um eventuelles mögliches Einvernehmen herbeiführen zu können, oder auch Gespräche diesbezüglich zu erleichtern. Nähere Details finden Sie auf unserer Homepage unter http://www.aeksbg.at/rasterzeugnisse.
