extends _aus_fortbildung

include _portlet-downloads


block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-bildungspartnerschaft", griessner, "Salzburger Sparkasse")
    +portlet_person("ansprechpartner-bildungspartnerschaft", brandl, "Ärztekammer Salzburg")

block data
  +portlet_download("Downloads")
    +download_file("Beratungszentrum Freie Berufe", "data/documents/Einlageblatt Beratungszentrum Freie Berufe.pdf", "pdf")


block column-1  
  +section-content("Bildungspartnerschaft")
    :marked
      **Bildungspartnerschaft Salzburger Ärztekammer und Salzburger Ärztekammer**
      
      <img src="images/Logo-Bildungspartnerschaft.png" style="width: 60%; margin-top: 20px; margin-left:20%;">

      - Seit 1999 veranstaltet die Salzburger Ärztekammer gemeinsam mit der Salzburger Sparkasse Seminare zur wirtschaftlichen Fortbildung von Ärzten. Hier finden Sie das [aktuelle Programm](http://www.aeksbg.at/wirtschaftundkommunikation)

      **Beratungszentrum Freie Berufe der Salzburger Sparkasse Bank**
       
      - Die Salzburger Sparkasse hat im Jahr 2000 ein eigenes Beratungszentrum speziell für Freiberufler, insbesondere für  Ärzte, gegründet. Hier hat man sich auf die Beratung und Betreuung dieser Kundenschicht spezialisiert. [Details und Ansprechpartner](https://www.sparkasse.at/filialsuche/standorte/filiale/5021-salzburg/alter-markt-3/at05090705)

      Für Fragen steht Ihnen im Beratungszentrum Freie Berufe der Salzburger Sparkasse Gerhard Griessner (siehe rechts) sehr gerne zur Verfügung.  




    
