extends _aus_fortbildung

  
block column-1  
  +section-content("Aus- und Fortbildung")
    p
      +image(haas)
    :marked
      Sehr geehrte KollegInnen,

      an dieser Stelle möchte ich noch ein paar persönliche Gedanken mit Ihnen
      teilen, die ich mir am Beginn meiner beruflichen Tätigkeit bzw. Ausbildung
      gestellt habe:
        
    table.centered.vorwort
      tbody
        tr
          td Werde ich Arzt für Allgemeinmedizin oder spezialisiere ich mich auf ein Sonderfach?
        tr
          td Gibt es bei mir in der Familie bereits Ärzte, die mir einen gewissen Weg in die eine oder andere Richtung aufgezeigt haben?
        tr
          td Die beinahe wichtigste Frage in unserer Generation: Lässt sich das vorgefasste Berufsbild mit den Vorstellungen einer Work-Life-Balance vereinbaren?

    :marked
      Das Szenario in meinem Fall stellt sich folgendermaßen dar:
        
      Mein Vater ist Arzt für Allgemeinmedizin mit Kassenvertrag und Notarzt, meine
      Mutter Diplomierte Krankenschwester. Da ich nach dem Studium kein 100%
      präferiertes Fach hatte und mein Vater Arzt für Allgemeinmedizin ist, war es für
      mich das Naheliegenste mit dem Turnus zu starten, um mir die Möglichkeit offen zu
      halten, meinem Vater gegebenenfalls als Allgemeinmediziner zu folgen.
      
      Knapp 4
      Jahre später hatte ich die Ausbildung zum Arzt für Allgemeinmedizin abgeschlossen,
      aber fühlte mich noch nicht bereit mit ca. 30 Jahren, direkt eine eigene Praxis zu 
      übernehmen. Dementsprechend startete ich, da ich bereits während den 
      Famulaturen chirurgischen Fächern eine
      gewisse Faszination abgewinnen konnte, eine Ausbildung zum Facharzt für
      Allgemeinchirurgie in Salzburg.
      
      Der **Vorteil mit ius practicandi** ist es, dass
      man eine breitere medizinische Ausbildung hat und sollte man zum Entschluss
      kommen, doch keine Facharztausbildung abschließen zu wollen, die Türen offen
      stehen, in einer Praxis, einer Krankenversicherung oder einer Reha
      Einrichtung, zu arbeiten.
      
      Der **Vorteil sofort mit der Assistenzarztausbildung zu beginnen** liegt
      darin, dass man bereits weiter in der Facharztausbildung ist. 
      
      An dieser Stelle bleibt somit abzuwägen
      für welchen Weg man sich entscheidet, bzw. ob man ein "klinisches" Fach wählt oder
      seine Zukunft eher in der Niederlassung sieht. Durch das Common Trunk ist die
      Entscheidung einfacher zu treffen, da man 9 Monate ärztlich arbeitet bevor man sich
      für eine weiterführende Richtung entscheiden muss. 
      
      Ich hoffe ich konnte Ihnen mit meinen
      Erfahrungen ein paar Denkanstöße geben und wünsche Ihnen viel Erfolg auf Ihrem
      weiteren Weg!
      
      **Dr. Johannes Haas**<br/>
      ehem. Obmannstellvertreter Kurie angestellte Ärzte
