extends _aus_fortbildung
  
block column-1  
  +section-content("Ausbildungsstätten")
    :marked
      **Die gesamte postpromotionelle Ausbildung kann nur in einer anerkannten Ausbildungsstätte erfolgen.** Anerkannte Ausbildungsstätten sind Krankenanstalten Abteilungen von Krankenanstalten, Universitätskliniken, Lehrambulatoren oder Lehrgruppenpraxen. 

      **Wichtig**: Es ist Turnusärzten untersagt in allgemeinen Gesundheitseinrichtungen ärztlich tätig werden, die nicht als Ausbildungseinrichtung anerkannt sind. 

      Die gesamte Auflistung von Ausbildungsstätten österreichweit findet man, wie oben ausgeführt, in dem Ausbildungsstättenverzeichnis der ÖÄK. Hinsichtlich Lehrpraxen ersuchen wir sich direkt an die Ärztekammer für Salzburg an Frau [Andrea Grubinger](mailto:grubinger@aeksbg.at) zu wenden, denn hier gibt es ein eigenes Verzeichnis bzw. findet man die gegebenen Infos im [Ausbildungsstättenverzeichnis unserer Homepage](http://www.aeksbg.at/ausbildungsstattenverzeichnis). Die Anerkennung einer Ausbildungsstätte erfolgt durch die ÖÄK, sie wird unterstützt von der jeweiligen Landesärztekammer. 

      Zusammenfassend ist nochmals darauf hinweisen, dass es jedenfalls sehr wichtig ist jedes Mal ganz konkret abzuklären welche Ausbildungsstellen vorhanden sind und in welchem Umfang die Ausbildungsberechtigung der Abteilung vorliegt. 

      Der Leiter der Abteilung die als Ausbildungsstätte anerkannt ist, ist Ausbildungsverantwortlicher. Grundsätzlich sollte es auf jeder Ausbildungsstätte ein Ausbildungskonzept geben, welches von vornherein bekannt sein und ausgehändigt werden sollte. 

      Jedenfalls der Ausbildungsverantwortliche hat den Erwerb von Kenntnissen und Fertigkeiten laufend zu überprüfen und zu beurteilen in weit die in den Rasterzeugnissen vorgesehenen Ausbildungsinhalte tatsächlich vermittelt werden. Es ist verpflichtend demnach auch regelmäßige Evaluierungsgespräche zu führen die man gegebenenfalls auch einfordern kann.
