extends _aus_fortbildung
include _portlet-downloads

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-anrechnung-ausbildungszeiten", matzek, "Anrechnung von Ausbildungszeiten")
    +portlet_person("ansprechpartner-anrechnung-ausbildungsstellen", grubinger, "Anerkennung von Ausbildungstätten / Ausbildungsstellen")
  
block column-1  
  +section-content("Ärzte-Ausbildungsreform 2015")
    :marked
      ## Ärzte-Ausbildungsreform 2015
      Hier finden Sie wesentliche Informationen zur Ärzte-Ausbildungsreform 2015. **Da sich laufend Informationen ändern, empfehlen wir Ihnen, sich [auf unserer Homepage](http://www.aeksbg.at/arzte-ausbildungsreform-2015) über die Neuerungen zu informieren**.

      Stand Februar 2015:
      
      Vom Bundesministerium für Gesundheit wird die **neue Ärzte-Ausbildungsordnung** erst im Frühjahr 2015 erlassen werden, genauso wie die ÖÄK darauf aufbauend die neue **Verordnung über die Ausbildungsinhalte und Rasterzeugnisse (KEF-RZ-VO)** bei der Frühjahrsvollversammlung im Juni 2015 beschließen wird. Die neue Ausbildung wird frühestens am 1.6.2015 mit der neuen 9-monatigen Basisausbildung (sog. Common Trunk) starten.

      Ab 1.3.2016 beginnt dann entweder der Spitalsturnus in der Ausbildung zum Arzt für Allgemeinmedizin oder die Sonderfach-Grundausbildung in der neuen Ausbildung zum Facharzt.

       

      Für weiterführende Fragen stehen Ihnen in der Ärztekammer zur Verfügung

  +portlet_download("Downloads & Links")
    +download_file("Übersicht Ausbildungsreform", "http://www.aerztezeitung.at/archiv/oeaez-2015/oeaez-12-25012015/aerzteausbildungsordnung-neu-turnus-lehrpraxis-peter-niedermoser-martin-wehrschuetz.html")
      | ÖÄZ 1/2 - 25.01.2015
    +download_file("Übersichtliche Präsentation der Ausbildungsreform", "http://aeksbg.at/documents/10682/3841326/%C3%9Cbersichtliche+Pr%C3%A4sentation+der+Ausbildungsreform/2fc5fe22-6013-441c-a4d6-84f247f353d2", "pdf")
      | ÖÄK, 26.11.2014
    +download_file("Rundschreiben an die Ausbildungsstätten im Bundesland Salzburg", "http://aeksbg.at/documents/10682/3841326/Rundschreiben+an+die+Ausbildungsst%C3%A4tten+im+Bundesland+Salzburg/e2b2617a-b9f7-4dec-a4e9-ef3a851db6ca", "pdf")
    +download_file("Übergangsbestimmungen §235 ÄG", "http://aeksbg.at/documents/10682/3841326/%C3%9Cbergangsbestimmungen+%C2%A7235+%C3%84G/b960d3b1-69ed-43ec-a218-9d4c2f2dfcde", "pdf")
  
