extends _aus_fortbildung
  
block column-1  
  +section-content("Fortbildung")
    :marked
      PatientInnen und Öffentlichkeit setzten großes Vertrauen in das aktuelle Fachwissen und Können der Ärzte. Daher ist es wichtig, dass sich die ÄrztInnen zu einer kontinuierlichen fachlichen Fortbildung verpflichten. Diese Verpflichtung ergibt sich aus dem § 49 Abs. 1 des ÄrzteG sowie der [Verordnung der ÖÄK über die ärztliche Fortbildung](http://www.aerztekammer.at/fortbildung).

      Darin heißt es:
      > *Ein Arzt hat sich laufend, im Rahmen anerkannter Fortbildungsprogramme der
      Ärztekammern in den Bundesländern oder der Österreichischen
      Ärztekammer oder im Rahmen einer anerkannten ausländischen Fortbildungsprogramm,
      fortzubilden und nach Maßgabe der ärztlichen Wissenschaft und
      Erfahrung sowie unter Einhaltung der bestehenden Vorschriften und der
      fachspezifischen Qualitätsstandards das Wohl der Kranken und den Schutz der Gesunden zu wahren.*


      Darüber hinaus besteht natürlich auch ein ethischer moralischer Verpflichtungsgedanke der Ärzteschaft gegenüber der PatientInnen und gesellschaftlich sich regelmäßig fortzubilden. Dementsprechend befinden sich alle möglichen Angebote über die [Fortbildungsakademie der Ärztekammer für Salzburg](http://www.aeksbg.at/fortbildung) sowie der [Österreichischen Ärztekammer](http://www.aerztekammer.at/fortbildung)  und der [Akademie der Ärzte](http://www.arztakademie.at). Ansprechperson in der Ärztekammer für Salzburg ist Herr [Helmut Böhm](mailto:fortbildung@aeksbg.at), der Sie hierbei gerne unterstützt.

      Mit der Novellierung der DFP-Verordnung wurde nunmehr die Fortbildungsverpflichtung präzisiert und gilt die DFP-Pflicht ab 01.09.2016. Weitere Informationen dazu können Sie auf [unserer Homepage](http://www.aeksbg.at/von-rechts-wegen/-/asset_publisher/r62K/content/dfp-pflicht-ab-1-9-2016?_101_INSTANCE_r62K_redirect=%2Fvon-rechts-wegen) nachlesen.

      Dort finden Sie auch konkrete Details zum [DFP-Diplom](http://www.aeksbg.at/mein-dfp). 
