extends _aus_fortbildung

include _portlet-downloads

block data
  +portlet_download("Downloads")
    +download_file("Anmeldeformular Facharztprüfung und Zeitbestätigung", "http://www.arztakademie.at/fileadmin/template/main/facharztpdfs1/faanmeldeformulare/Anmeldeformular_FAP.pdf", "pdf")
    +download_file("Anmeldeformular für Radiologen (vorgezogener MC-Test)", "http://www.arztakademie.at/fileadmin/template/main/facharztpdfs1/faanmeldeformulare/Anmeldeformular_FAP-RadiologieMC.pdf", "pdf")
    +download_file("Antrag Eintragung Facharzt", "http://www.aektirol.at/documents/3398109/3403527/Antrag+Eintragung+Facharzt/ef4aaa17-58f0-4d91-ad63-ada30dcdde1d", "docx")
    +download_file("Ärztinnen-/Ärzteausbildungsordnung 1994", "http://www.ris.bka.gv.at/Dokumente/BgblPdf/1994_152_0/1994_152_0.pdf", "pdf")
    +download_file("Ärztinnen-/Ärzteausbildungsordnung 2006", "http://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=20004879")
    +download_file("Ausbildungsinhalte nach Fachrichtungen", "http://www.aerztekammer.at/arzte-ausbildungsordnung")
    +download_file("Rasterzeugnisse", "http://www.aerztekammer.at/rasterzeugnisse")
    +download_file("Prüfungstermine", "http://www.arztakademie.at/pruefungen/oeaek-facharztpruefung")    

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-facharzt", matzek)
    
block column-1  
  +section-content("Facharzt")
    :marked
      Die Ausbildung zum Facharzt in einem Sonderfach ist in § 8 Ärztegesetz sowie in den Bestimmungen der Ärzte-Ausbildungsordnung (ÄAO) 1994 sowie 2006 (für ÄrztInnen, die ihre postpromotionelle Ausbildung nach dem 1.2.2007 begonnen haben, gilt die ÄAO 2006) geregelt. § 10 der ÄAO 2006 nennt insgesamt 45 Sonderfächer.

      Die Ausbildung zum Facharzt ist an Ausbildungsstätten, die von der Österreichischen Ärztekammer für die Ausbildung zum Facharzt im jeweiligen Sonderfach anerkannt wurden (Krankenanstalten, Institute, Lehrpraxen, Lehrgruppenpraxen und Lehrambulatorien) und im Hauptfach auf einer dafür genehmigten Facharztausbildungsstelle zu absolvieren.

      Die Ausbildungsdauer zum Facharzt beträgt zumindest 6 Jahre und umfasst:

      1.  Absolvierung der entsprechenden Ausbildungszeit (Hauptfach 3-5 Jahre. 1-3 Jahre in Pflicht- bzw. Wahlnebenfächer)
      2. positive Absolvierung der Facharztprüfung (Die Anmeldung zur Prüfung ist möglich sobald 44 Ausbildungsmonate, tunlich im Hauptfach, absolviert sind)
      3. Vorlage eines zur Gänze ausgefüllten und formal richtigen Rasterzeugnisses

      ### Ausbildungsstelle
      Eine Hauptfach-Ausbildung kann nur angerechnet werden, wenn der betreffende Turnusarzt/Turnusärztin eine Facharztausbildungsstelle besetzt. Die Ausbildungsstellen pro Abteilung sind limitiert.
      Die Ausbildungsstätten sind grundsätzlich verpflichtet, der Österreichischen Ärztekammer (über die Landesärztekammer) halbjährlich zu melden, welcher Arzt/welche Ärztin für welchen Zeitraum auf einer Ausbildungsstelle gemeldet wird.

      **ACHTUNG: Überprüfen Sie, ob Sie vom Ausbildungsverantwortlichen auf eine Ausbildungsstelle gemeldet wurden.**
      
      Wichtig ist auch, dass einige Ausbildungsstellen zeitlich limitiert sind, was bedeutet, dass manche Abteilungen bzw. Krankenhäuser nicht in vollem Ausmaß ausbilden können. Man spricht dann von Teil-Anerkennung. Über das Ausmaß der anrechenbaren Ausbildung gibt das Ausbildungsstättenverzeichnis der Österreichischen Ärztekammer Auskunft.

      ### Teil-Anerkennung
      Die Absolvierung der Ausbildung an mehreren Ausbildungsstätten mit einer Teil-Anerkennung ist möglich, am Ende der Facharztausbildung müssen aber alle in den Rasterzeugnissen geforderten Ausbildungsinhalte als vermittelt bestätigt sein.

      ## Einreichen zum Facharzt:

      * Antragsformular FA mit Unterschrift
      * Original-Rasterzeugnisse (Unterschrift des Ausbildungsverantwortlichen  sowie Unterschrift des ärztlichen Leiters bei Krankenantalten)
      * Kopie des Prüfungszertifikates der Facharztprüfung
      * Checkkartenausweis (zur Abänderung der Berufsbezeichnung)
      * Bescheide über bereits anerkannte Auslandszeiten (wenn vorhanden)
      * eventuell Aus- bzw. Fortbildungsnachweise (wie z.B. Notarzt)


      ## Wichtige Informationen

      * In der Facharztausbildung muss die theoretische Ausbildung die praktische Ausbildung begleiten und die Kenntnisse über die ärztlichen Berufsvorschriften einschließlich der Rechtsvorschriften wie Dokumentation, der Aufklärung sowie der Qualitätssicherung theoretisch vermittelt werden. Dies kann sowohl krankenhausintern aber auch durch externe Fortbildungen erfolgen. Eine gänzliche Freistellung vom Dienst ist hierfür durchzuführen.

      * Achtung! Geht jedenfalls die Fortbildung über die Dienstzeit hinaus sind hierfür die Überstunden zu dokumentieren und zu vergüten.

      * Wichtig! Es ist äußerst wichtig, dass man, um die Ausbildung im Hauptfach auch angerechnet zu bekommen, auf eine Ausbildungsstelle gemeldet ist. Ansonsten könnte nämlich die Ausbildungszeit nicht entsprechend angerechnet werden. Es ist wichtig sich daher ehestmöglich sich beim Dienstgeber bzw. in der Ärztekammer für Salzburg zu erkundigen, ob man tatsächlich auf eine Ausbildungsstelle gemeldet ist.

      * Weiteres kann man im [Österreichischen Ausbildungsstättenverzeichnis der Österreichischen Ärztekammer](http://www.aerztekammer.at/ausbildungsstattenverzeichnis) nachlesen, über wie viele Ausbildungsstellen die eigene Abteilung tatsächlich verfügt.

      
      Bitte vereinbaren Sie jedenfalls einen Termin bei Claudia Matzek:

      Tel: 871327-112, oder [matzek@aeksbg.at](mailto:matzek@aeksbg.at)





