extends _aus_fortbildung
  
block column-1  
  +section-content("Ärzte-Ausbildung")
    :marked
      Die Ärzteausbildungsordnung regelt die Aufgabengebiete der Ärztinnen und Ärzte für Allgemeinmedizin und die Spezialfächer. Sie umfasst die wesentlichen Bestandteile der postpromotionellen praktischen ärztlichen Ausbildung im Spital respektive in Lehrpraxen. Zudem definiert die Ärzteausbildungsordnung Art, Umfang, Dauer und Ziel der Ausbildung, deren detaillierte Inhalte sowie die für die Ausbildung zugelassenen Ausbildungsstätten.
      Die Ärzte-Ausbildungsordnung 2006 ist noch bis 31.5.2015 gültig.
      
      Alle Inhalte der Ausbildungsordnung finden Sie am RIS (Rechtsinformationssystem) online unter
      [Ärzte-Ausbildungsordnung 2006](http://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=20004879)
