extends _rechtliches
  
block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("rechtliches.ansprechpartner1", feil)
    
block column-1  
  +section-content("Werberichtlinien")
    :marked
      Niedergelassene Ärzte sind als Unternehmer tätig, deshalb ist es von Bedeutung, die jeweils angebotenen Leistungen in angemessener Art und Weise der breiten Öffentlichkeit - den Patienten - mitzuteilen. Dabei ist unbedingt zu beachten:
        
      ### Werbebeschränkung
      Es ist erlaubt, Informationen über den eigenen medizinischen Tätigkeitsbereich zu veröffentlichen sowie eine eigene homepage mit Angaben zu errichten,  die sachlich und wahr sein müssen. Das Standesansehen darf nicht beeinträchtigt werden und der Arzt muß in zumutbarer Weise dafür sorgen,  daß standeswidrige Informationen auch durch Dritte, insbesondere Medien, unterbleiben.
      Ärzte, die gegen das Werbeverbot verstoßen, haben mit einem Disziplinarverfahren zu rechnen.

      ### Schilderordnung
      
      <img src="images/arztundwerbung.jpg" style="width: 200px; float:left;">
      Im Rahmen des 125. Österreichischen Ärztekammertages wurde von der Vollversammlung eine [neue Schilderordnung](http://www.aeksbg.at/documents/10431/19071/Schilderordnung.pdf/2b2c7fd5-f6f2-4a3d-b677-250eac8be785?version=1.3&t=1341082448000) beschlossen. Diese ist mit 1. Juli 2012 in Kraft getreten.

      Bekanntlich sind Ärzte, die dem Ärztegesetz unterliegen, verpflichtet, die Ordinationsstätte durch eine entsprechende äußere Bezeichnung  im Sinne eines Ordinationsschildes kenntlich zu machen. Näheres dazu wird in der Schilderordnung geregelt, auch die Werberichtlinie *Arzt und Öffentlichkeit* ist  dabei zu beachten.

      Die Schilderordnung legt fest, was zwingender und fakultativer Inhalt auf dem Schild ist bzw. sein kann:
      Verpflichtend ist auf dem Ordinationsschild nunmehr neben dem Namen, akademischen Grad, der Berufsbezeichnung als Arzt für Allgemeinmedizin, Approbierter Arzt oder Facharzt für...die Erreichbarkeit (zB. Ordinationszeiten oder auch der Hinweis *nach Vereinbarung* etc).

      Wird eine Ordination als Gruppenpraxis geführt, ist die Hinzufügung des Firmenwortlautes  zwingend anzuführen. Bei einer Gruppenpraxis darf allenfalls ein weiterer Berufssitz eines niedergelassenen Arztes bzw. weitere Standorte von Gruppenpraxen angeführt werden sowie die Namen und Berufsbezeichnungen der Gesellschafter von Gruppenpraxen.

      Fachärzte durften schon immer eine Additivfachbezeichnung in Klammer beifügen, neu ist aber, dass nun ebenfalls Allgemeinmediziner ein Additivfach in Klammer anfügen dürfen, da das Additivfach *Geriatrie* auch von Allgemeinmedizinern erworben werden kann.

      Auf dem Schild dürfen bekanntlich weiters angeführt werden:
      - amtlich verliehene Titel
      - auf eine gegenwärtige Verwendung hinweisende Zusätze wie z.B. Primarius am KH ...
      - von der ÖÄK verliehene Diplome, Zertifikate, Spezialisierungen
      
      Jetzt können auch von der ÖÄK oder LÄK verliehene oder anerkannte Qualitätssicherungszertifikate sowie von der ÖQMed ausgestellte Zertifikate am Ordinationsschild geführt werden.

      Ausdrücklich wird angeführt, dass es zulässig ist, am Ordinationsschild auf elektronische Kommunikationseinrichtungen wie Fax, Mail und Homepage hinzuweisen.

      Die Größe des Schildes war vormals mit 1m² begrenzt, diese Limitierung ist mittlerweile entfallen.

