extends _rechtliches

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("rechtliches.ansprechpartner1", feil)
    
block column-1  
  +section-content("Karenz")
    :marked
      ## Mutterschutz

      Neben dem jeweiligen Dienstrecht bzw. Angestelltengesetz sind die Bestimmungen des Mutterschutzgesetzes bzw. des Väterkarenzgesetzes zu beachten. Sobald sich bestätigt, dass man schwanger ist, sollt man dies dem Dienstgeber melden.
      Der Dienstgeber muss dann das Arbeitsinspektorat verständigen, damit es die Schutzvorschriften überprüfen kann. Eine Kopie dieser Meldung hat ist der Dienstnehmerin auszuhändigen.
      Verboten sind unter bestimmten Voraussetzungen beispielsweise:
      * überwiegend stehende Beschäftigung
      * ständig im Sitzen verrichtete Beschäftigung
      * Heben und Tragen von Lasten
      * Arbeiten mit gesundheitsschädlichen Stoffen
      * Akkord-, Prämien- und Fließbandarbeit
      * Nachtarbeit und Überstundenleistung
      
      Nähere Informationen welche Aufgaben der Schwangeren im Krankenhaus zuzumuten sind finden Sie hier: [Umsetzung Mutterschutz im KH.pdf](https://cms.arztnoe.at/cms/dokumente/1015501_245071/ce05670b/Umsetzung_Mutterschutz_im_KH.pdf)

      während der Schwangerschaft, während der ersten 4 Monate nach der Entbindung, während der Karenz sowie bis 4 Wochen nach der Karenz besteht Kündigungs- und Entlassungsschutz. Dieser gilt allerdings nur dann, wenn Sie der Dienstgeberin/dem Dienstgeber innerhalb von 5 Arbeitstagen nach einer Kündigung oder Entlassung die Schwangerschaft oder die Geburt mitteilen. 
      
      ## Beschäftigungsverbot/Schutzfrist

      Die Schutzfrist für werdende Mütter beträgt in der Regel **8 Wochen sowohl vor als auch nach der Geburt** des Kindes. In dieser Zeit darf eine schwangere Frau bzw. die Frau nach der Entbindung nicht beschäftigt werden. Bei einer Kaiserschnitt-, Mehrlings- oder Frühgeburt beträgt die Schutzfrist nach der Geburt zumindest 12 Wochen.

      Wenn die Geburt des Kindes früher als zum berechneten Termin erfolgt, verlängert sich grundsätzlich die Schutzfrist nach der Entbindung um jene Zeit, um die die Schutzfrist vor der Geburt verkürzt wurde, allerdings längstens bis auf 16 Wochen. Während der Schutzfrist haben Sie Anspruch auf Wochengeld. (Achtung Meldefrist!)

      Spätestens in der 12. Woche vor dem errechneten Geburtstermin müssen Dienstgeberinnen/Dienstgeber auf den Beginn der Achtwochenfrist aufmerksam gemacht werden.

      **Während der Schutzfrist – in der Regel 8 Wochen vor der Entbindung bis 8 Wochen danach – haben Sie Anspruch auf Wochengeld.**

      Es beträgt so viel, wie der durchschnittliche Nettoverdienst der letzten drei Monate vor Beginn der Schutzfrist und wird von der Krankenkasse bezahlt. Auch als freie Dienstnehmerin haben Sie Anspruch auf einkommensabhängiges Wochengeld.

      Besteht unabhängig von der Art der Beschäftigung Gefahr für Leben und Gesundheit von Mutter und Kind bei Fortdauer der Beschäftigung, kann unter Vorlage einer fachärztlichen Bestätigung bereits vor Beginn des absoluten Beschäftigungsverbotes eine völlige Dienstfreistellung verfügt werden. Für die Zeit einer solchen Freistellung wird von der zuständigen Krankenkasse ein „erweitertes Wochengeld" bezahlt.


      ## Karenz

      Elternkarenz ist der arbeitsrechtliche **Anspruch auf Dienstfreistellung**. Während dieser Zeit entfallen die Bezüge und es besteht ein Kündigungs- und Entlassungsschutz.

      Jener Elternteil, der unmittelbar nach der Schutzfrist Karenz in Anspruch nehmen will, muss innerhalb der Schutzfrist (Mutter) bzw. 8 Wochen nach der Geburt (Vater) seiner Arbeitgeberin/seinem Arbeitgeber den Beginn und die Dauer der Karenz bekannt geben. 3 Monate vor Ende der zunächst gemeldeten Karenz kann der in Karenz befindliche Elternteil seiner Arbeitgeberin/seinem Arbeitgeber bekannt geben, dass er seine Karenz verlängert und bis wann, bzw. der andere Elternteil seiner Arbeitgeberin/seinem Arbeitgeber mitteilen, dass er nunmehr Karenz in Anspruch nimmt.

      Dauert die Karenz weniger als drei Monate, ist die Verlängerung der Karenz spätestens zwei Monate vor dem Ende der Karenz bekannt zu geben. Nimmt ein Elternteil im unmittelbaren Anschluss an die Schutzfrist eine Karenz von weniger als drei Monaten in Anspruch, hat der andere Elternteil Beginn und Dauer seiner daran anschließenden Karenz bis zum Ende der Schutzfrist zu melden.

      Frauen oder Männer, die unselbständig erwerbstätig sind (Arbeitnehmerinnen und Arbeitnehmer), haben bis zum Ende des 2. Lebensjahres des Kindes Anspruch auf Karenz. Die Eltern dürfen grundsätzlich nicht gleichzeitig in Karenz gehen (Ausnahme: erstmaliger Wechsel).

      Sie haben die Möglichkeit, die Karenz zweimal zu teilen und abwechselnd in Anspruch zu nehmen, wobei ein Karenzteil mindestens 2 Monate zu betragen hat.

      Es besteht auch die Möglichkeit, dass Eltern gleichzeitig Karenz von einem Monat aus Anlass des erstmaligen Wechsels der Betreuungsperson in Anspruch nehmen. In diesem Fall endet die Karenz mit Vollendung des 23. Lebensmonats des Kindes.

      Weiters kann jeder Elternteil mit seiner Arbeitgeberin/seinem Arbeitgeber vereinbaren, dass er 3 Monate seiner Karenz für einen späteren Zeitpunkt aufschiebt, und zwar grundsätzlich bis zum Ablauf des 7. Lebensjahres des Kindes, wobei sowohl die Erfordernisse des Betriebes als auch der Anlass der Inanspruchnahme zu berücksichtigen sind. Die Arbeit muss jedenfalls am Tag nach dem Ende der vereinbarten Dauer der Karenz wieder aufgenommen werden.


      ## Beschäftigung während der Karenz

      Es besteht die Möglichkeit, während einer Karenz eine geringfügige Beschäftigung (**Geringfügigkeitsgrenze 2015: € 405,98**) beim selben oder bei einem anderen Arbeitgeber aufzunehmen. Die geringfügige Beschäftigung hat keinen Einfluss auf den karenzierten Hauptarbeitsvertrag. Sollte ein Nebenbeschäftigungsverbot bestehen, ist bei der Aufnahme einer Beschäftigung bei einem anderen Arbeitgeber die Meldung an den karenzierenden Arbeitgeber erforderlich. Das geringfügige Arbeitsverhältnis ist mit dem Ende der Karenz befristet bzw. endet im Falle einer neuerlichen Schwangerschaft mit dem Beginn des Beschäftigungsverbotes.

      Weiters kann für höchstens 13 Wochen im Kalenderjahr eine Beschäftigung über der Geringfügigkeitsgrenze hinaus vereinbart werden. Dauert die Karenz kein volles Kalenderjahr, kann eine solche Beschäftigung nur im aliquoten Ausmaß vereinbart werden. Eine Überschreitung dieser zeitlichen Grenzen kann zu einem Verlust des Kündigungs- und Entlassungsschutzes führen. Eine vorübergehende Beschäftigung über der Geringfügigkeitsgrenze während der Karenz bei einem anderen Arbeitgeber ist nur unter Zustimmung des Arbeitsgebers des karenzierten Arbeitsverhältnisses möglich.


      ## Kündigungs- und Entlassungsschutz während der Karenz

      Der Kündigungs- und Entlassungsschutz besteht **ab Meldung der Karenz**. Für den Vater beginnt der Kündigungsschutz frühestes mit dem Tag der Geburt des Kindes, die Mutter hat im Normalfall bereits davor Schutz aufgrund ihrer Schwangerschaft. Wird die Karenz nicht im Anschluss an die Schutzfrist angetreten, beginnt der Kündigungs- und Entlassungsschutz frühestens vier Monate vor dem gewünschten Antritt. Die Meldung einer späteren Karenz sollte daher nicht vor diesem Termin erfolgen.
      Der Kündigungs- und Entlassungsschutz ist grundsätzlich nur gegeben, wenn die Meldefristen für die Karenz eingehalten wurden. Kommt aber bei versäumter Frist eine Einigung über eine Karenz im Rahmen des MSchG/VKG zustande, ist auch für diese Karenz der Schutz gegeben. Der Kündigungs- und Entlassunsschutz endet vier Wochen nach dem Ende der Karenz, spätestens jedoch vier Wochen nach dem zweiten Geburtstag des Kindes.


      ## Kinderbetreuungsgeld: 
      Unabhängig von der Karenz hat man Anspruch auf Kinderbetreuungsgeld. Nähere Details ersuchen wir Sie jedoch mit dem Steuerberater zu besprechen und abzuklären. 
