extends _rechtliches

block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("rechtliches.ansprechpartner1", heindl)    
    +portlet_person("rechtliches.ansprechpartner2", wiesner)    
    
block column-1  
  +section-content("Grundvoraussetzung der Berufsausübung")
    :marked
      Vor Beginn der postpromotionellen Ausbildung müssen Sie sich unverzüglich **in
      die Ärzteliste eintragen lassen**. Bei der Ärzteliste handelt es sich um ein Register aller in
      Österreich tätigen ÄrztInnen. Ohne diese Eintragung ist jegliche ärztliche Berufsausübung in
      Österreich nicht zulässig.

      Die Eintragung in der Ärzteliste erfolgt in der Standesführung, hierfür in der
      Ärztekammer für Salzburg zuständig sind Frau [Ana Wiesner](mailto:wiesner@aeksbg.at)
      bzw. Frau [Alexandra Heindl](mailto:heindl@aeksbg.at).

      Bitte beachten Sie:
      
      * Würde man seine Ausbildung in diversen Bundesländern absolvieren, so müsste man sich jeweils bei der zuständigen örtlichen Ärztekammer melden um sich in die Ärzteliste eintragen zu lassen.
      * Über die Eintragung in die Ärzteliste hinaus ist es auch von Bedeutung, dass jede Namensänderung, jeder Wechsel des Wohnsitzes, jede Aufnahme oder Tätigkeit im neuen Anstellungsverhältnis und der Bekanntgabe des Dienstortes bzw. Dienstgebers sowie das Ausmaß der Anstellung (Teilzeit, Vollzeit, Stunden, Wochen), jede Eröffnung bzw. Einstellung einer Ordination, jegliche Verlegung der Adresse, ein zeitweiliger Verzicht der Berufsausübung sowie jede andere Einstellung und die Aufnahme oder Beendigung jeder ärztlichen Nebentätigkeit, wie Vertretungen, Notdienstteilnahme, Betriebsarzt, Schularzttätigkeit etc. an die Standesführung der Ärztekammer für Salzburg zu melden sind.

      Mit der Mitgliedschaft in der Ärztekammer Salzburg ist grundsätzlich auch die Mitgliedschaft im Wohlfahrtsfonds verbunden. Daraus resultiert einerseits die Verpflichtung zur Beitragszahlung und andererseits das Recht auf Leistungen aus dem Wohlfahrtsfonds.

      Wichtig ist, dass jede nebenberufliche Tätigkeit mit dem Dienstgeber zu besprechen und
      abzuklären ist, da dies gegebenenfalls einen Kündigungsgrund darstellen könnte.
      Zusammenfassend kann darauf hingewiesen werden, dass Meldungen, welche die
      Standesführung betreffen, in der Ärztekammer für Salzburg bei Frau Ana Wiesner bzw.
      Frau Alexandra Heindl zu melden sind.
