extends _rechtliches


include _portlet-downloads


block persons
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("rechtliches.ansprechpartner1", feil)

block column-1  
  +section-content("Rechtliches für Turnusärzte")
    :marked
      Das Medizinrecht hat einen großen Geltungsbereich und ist in vielen Rechtnormen zerstreut. Diesbezüglich gibt es viele diverse Gesetze und Verordnungen. Um sich einen näheren Überblick hinsichtlich des Medizinrechts verschaffen zu können, finden Sie weitere Informationen auf unserer Homepage unter: www.aeksbg.at/allgemeine-informationen1

      Rechtlich, wesentlich und wichtig ist es, die vier verschiedenen Haftungsarten zu unterscheiden:

      * Die **zivilrechtliche Haftung**
      * Die **strafrechtliche Haftung**
      * Die **verwaltungsrechtliche Haftung**
      * Die **disziplinarrechtliche Haftung**


      Die **Zivilrechtliche Haftung** ist wohl die häufigste Inanspruchnahme einer ÄrztIn. Die Punkte die hier insbesondere zu bedenken sind, ist der Behandlungsfehler bzw. die nicht erfolgte entsprechende Aufklärung und Dokumentation.

      Gegebenenfalls könnte natürlich auch ein Behandlungsfehler zu einer strafrechtlichen Haftung wegen fahrlässiger Körperverletzung oder Tötung führen. 

      Inhaltlich geht es darum, das höchst geschützte Rechtsgut, das ist das Leben im Sinne der Gesundheit bzw. der körperlichen Integrität zu schützen. 

      Unabhängig von gerichtlichen zivil- bzw. strafrechtlichen Ansprüchen ist das Disziplinarrecht zu bedenken. Folgen bei Verstöße können diverse Geldstrafen bzw. Verweise oder auch eine befristete Untersagung der Berufsausübung mit sich bringen. Hier wird auf ein Verhalten der ÄrztIn abgestellt welches das Standesansehen beeinträchtigt.

      Ein Tipp aus der Praxis ist es jedenfalls sich zu fragen:
      > Kann ich diese Angelegenheit alleine meistern, ohne Angst vor irgendwelchen Haftungsfolgen…?

      Weiteres sollte ebenfalls überlegt werden:
      > Brauche ich bei der Vornahme meiner ärztlichen Tätigkeit meinen Vorgesetzten? Soll ich bereits selbst tätig werden oder muss ich auf die Unterstützung meines Vorgesetzten oder eines Facharzt warten?

      > Liegt ein Notfall vor?
      
      Wenn ein Notfall vorliegt, dann muss ich in dieser Situation auch tätig werden, selbst wenn ich mir nicht zu 100% sicher bin!

      ### Wie verhalte ich mich nun in einem Zwischenfall?
      
      Unterläuft ein Fehler in der Behandlung oder auch in der Aufklärung im Sinne einer Dokumentation ist es wichtig, sich darüber genau zu informieren bzw. **bei einem Behandlungsfehler sollte dieser nicht abgestritten werden**.

      Es ist wichtig, dass bei einem Patientengespräch jedoch **grundsätzlich nie von einem Schuldeingeständnis etc. gesprochen wird, da dies immer über die Versicherungen bzw. Haftpflichtversicherung abgeklärt wird**. 

      Patienten richten sich grundsätzlich über Beschwerden der niedergelassenen Ärzte an die Ärztekammer für Salzburg/ Interventionsstelle bzw. bei Beschwerden über angestellte Ärzte an die Salzburger Patientenvertretung. 

      Hierbei wird versucht eine positive Lösung fernab der Rechtsanwälte und Gerichte herzustellen.

      Weitere Details finden Sie auf [unserer Homepage](http://www.aeksbg.at/patientenbeschwerden) und auf der [Homepage der Salzburger Patientenvertretung](https://www.salzburg.gv.at/themen/gesundheit/patientenvertretung).

      Wichtig ist es jedenfalls, dass ich mich bei einem unterlaufenen Fehler an den Abteilungsleiter wende. Heikle Gespräche sollten nie alleine geführt werden, sondern immer gemeinsam mit dem Abteilungsleiter.

block data
  +portlet_download("Downloads")
    +download_file("Turnusärzte - Tätigkeitsprofil", "http://aeksbg.at/documents/10682/3491407/Turnus%C3%A4rzte+-+T%C3%A4tigkeitsprofil/6ada86a6-89df-4139-8a4c-874a41533bbc?", "pdf")
      | Bundeskurie Angestellte Ärzte
    +download_file("Medizinrecht für Turnusärzte","http://aeksbg.at/documents/10682/3491407/Medizinrecht+f%C3%BCr+Turnus%C3%A4rzte/fd503433-edfd-48e3-b32c-a0835b10a32c", "pdf")
      | Dr. Johannes Barth
    +download_file("Was dürfen TurnusärztInnen?", "http://aeksbg.at/documents/10682/3491407/Was+d%C3%BCrfen+Turnus%C3%A4rztInnen%3F/5ec9773a-4201-4fa1-aa81-5ebbfbad29dd", "pdf")
      | Dr. Johannes Barth, med.ium 5/2013
                    
