extends _rechtliches
  
block column-1  
  +section-content("Ärztlicher Verhaltenskodex")
    :marked
      Die Wahrung der ärztlichen Unabhängigkeit gegenüber der Pharma- und Medizinprodukteindustrie ist eine Grundvoraussetzung für eine gewissenhafte Erfüllung der ärztlichen Tätigkeit. Der ärztliche Verhaltenskodex, eine Richtlinie der Österreichischen Ärztekammer, dient als Vorgabe für Ärzte bei der Zusammenarbeit mit der Pharma- und Medizinprodukteindustrie und regelt folgende Bereiche:

      * Teilnahme an medizinisch-wissenschaftlichen Veranstaltungen, die von der Pharma- und Medizinprodukteindustrie finanziert wurden
      * Annahme von Geschenken und anderer Vorteile
      * Annahme von Ärztemustern
      * Klinische Prüfungen und Forschung finanziert von der Pharmaindustrie
      * Verschreibung von Medikamenten und Anwendungsbeobachtungen
      * Anwendung von Medikamenten am Patienten
      * Verbot von Doping
      * Anbieten gewerblicher Dienstleistungen und Produkte
      * Weitergabe bzw. Übermittlung von Patientendaten
      * Formvorschriften für die Zusammenarbeit mit der Pharma- und Medizinprodukteindustrie

      Verstöße gegen den ärztlichen Verhaltenskodex stellen ein Disziplinarvergehen dar.

      Siehe Homepage: [Ärztlicher Verhaltenskodex](http://www.aeksbg.at/rechtsgrundlagen/-/asset_publisher/8Oq3/content/id/26448?_101_INSTANCE_8Oq3_redirect=%2Frechtsgrundlagen)
