extends _layout


block column-1
  +section-content("Feedback")
    :marked
      Wir sind bemüht, diese USB-Card laufend so gut wie möglich an Ihre
      Bedürfnisse anzupassen. Wir sind aber auch nicht perfekt, und sehen manche 
      Dinge aus einem anderen Standpunkt wie Sie als junger Arzt oder Ärztin!
      
      Deshalb brauchen wir Ihre Rückmeldung, und vor allem konkrete 
      Verbesserungsvorschläge:
      
      * Was fehlt hier auf dem USB-Stick?
      * Was würden Sie sich noch wünschen, dass darauf wäre?
      
      Wir freuen uns über Feedback, Ideen und Vorschläge [per Mail](mailto:brandl@aeksbg.at)!
      
      Ihre Ärztekammer Salzburg
