extends _layout
  
block nav
  - var forstner_nav = {text: "Präsident Dr. Karl Forstner", link: "#index"}
  - var bittner_nav = {text: "Dr. Reinhard Bittner", link: "#kurieangestellte"}
  - var schnoell_nav = {text: "Dr. Matthias Vavrovsky", link: "#ta-referat"}

  //- Zusammenfassend, die Navigationsleiste - das Array muss die obigen Variablen enthalten, 
  //- die angezeigt werden sollen
  - var nav = [forstner_nav, bittner_nav, schnoell_nav]

  +portlet-nav(nav, "Kommentare")
  
block append persons
  +portlet_persongroup("Betreuung Jungärzte")
    +portlet_person("jungaerzte1", wiesner)
    +portlet_person("jungaerzte2", heindl)
  +portlet_persongroup("Kurie Angestellte Ärzte")
    +portlet_person("kurieangestellte", bittner)
  +portlet_persongroup("Turnusreferat")
    +portlet_person("turnusreferat1", vavrovsky)
    +portlet_person("turnusreferat2", pagitsch)


block column-1

  +section-content("Herzlich Willkommen!")
    a(name="praesident")
    +image(forstner)
    :marked
      ### Liebe Kolleginnen, liebe Kollegen,

      als Präsident darf ich Sie herzlich in der Ärztekammer für Salzburg willkommen
      heißen!
      
      Anlässlich Ihrer Eintragung in die Ärzteliste ist es mir ein besonderes Anliegen, Ihnen
      die Ärztekammer für Salzburg, als eine lebendige Kammer vorzustellen.
      Da sind zum einen die Menschen, die in dieser Kammer für die Salzburger Ärztinnen
      und Ärzte arbeiten: Die gewählten Funktionäre, also Ihre Kolleginnen und
      Kollegen, sowie die Mitarbeiter und MitarbeiterInnen, die Ihnen für Anfragen von
      Ausbildung über Rechtliches und Niederlassung bis zum Wohlfahrtsfonds
      jederzeit und gerne zur Verfügung stehen.
      
      Der zweite Aspekt, der die
      Ärztekammer Salzburg zu einer lebendigen Kammer 
      macht, sind die zahlreichen Aktivitäten, die von ihr ausgehen.

      Besonders möchte ich darauf hinweisen, dass zwei Mitarbeiter der Ärztekammer für
      Salzburg speziell für die **Betreuung der JungärztInnen** im Land Salzburg zuständig
      sind: Frau **Ana Wiesner** und Herr **Alexandra Heindl** (siehe rechts)
      sind Ihre zentralen Ansprechpartner
      für alle Fragen, die sich am Beginn Ihrer ärztlichen Tätigkeit bzw. während Ihrer
      Ausbildungszeit ergeben. Sie werden sich in Zusammenarbeit
      mit den anderen MitarbeiterInnen der Ärztekammer für Salzburg gerne um Ihre Anliegen bemühen.

      Liebe KollegInnen und Kollegen, auf dieser USB-Card haben wir versucht, alle für Sie
      relevanten Informationen für den Start ins ärztliche Berufsleben zusammenzustellen.
      Für alle Fragen und Probleme darüber hinaus, steht Ihnen die Ärztekammer für
      Salzburg, insbesondere Fr. Ana Wiesner und Fr. Alexandra Heindl, jederzeit mir Rat
      und Tat zur Seite!
    
    p
      strong Dr. Karl Forstner<br/>
      span Präsident der Ärztekammer Salzburg


  +section-content("Kurie angestellte Ärzte")
    a(name="kurieangestellte")
    +image(bittner)
    :marked
      ### Liebe Kolleginnen und Kollegen!

      Auch ich möchte Sie ganz herzlich in der Salzburger Ärzteschaft willkommen heißen.
      
      Ihr erster Schritt mit der Anmeldung in der Ärztekammer für Salzburg liegt bereits
      erfolgreich hinter Ihnen. Ich hoffe Sie waren mit dem Engagement und der
      Freundlichkeit, sowie der fachlichen Expertise unserer Ärztekammermitarbeiter
      zufrieden!
      
      Ich werde in dieser Einleitung nicht lange auf inhaltliche Punkte
      eingehen, da diese in weiterer Folge auf Ihrer Willkommens-USB-Card ausführlich
      erläutert werden, sondern nur kurz versuchen Ihnen zu vermitteln, worauf es
      in Ihrer ersten Zeit im Common Trunk ankommen sollte - quasi Dinge, die ich
      gerne vor meinem damals noch ersten Turnustag gehört hätte: 
      
      Das wichtigste ist es Entscheidungen zu
      treffen, von denen man zu 100% überzeugt ist, denn eine darüber hinaus
      gehende Verantwortung kann und darf in der Ausbildung noch nicht übernommen
      werden. Es ist ein großer Vorteil zu Beginn seiner postpromotionellen Ausbildung nicht
      der Letztverantwortliche für medizinische Entscheidungen zu sein. Man sollte daher
      die Möglichkeiten nützen, von den KollegInnen zu profitieren! Trotzdem
      sollte einem die Verantwortung im Sinne einer Durchführungs- bzw. 
      Einlassungsfahrlässigkeit als Arzt immer bewusst sein.
      
      Kollaborieren sollte man auch mit dem Pflegepersonal, denn das kann das Leben im Krankenhausalltag 
      erleichtern oder ungleich komplizierter machen. Der respektvolle Umgang von
      beiden Seiten ist äußerst wichtig.
      
      Wenn Ihnen etwas bezüglich Grundgehalt,
      Bezahlung der Dienste, Sonderklassegelder oder Kollektivvertrag unschlüssig
      vorkommt, ist ein Austausch mit KollegInnen empfehlenswert, ebenso ist die Ärztedienstordnung bzw.
      jeweiligen Betriebsvereinbarungen zu lesen aufschlussreich, und bei
      persistierenden Unklarheiten sollte man
      sich ohne zu zögern an die Mitarbeiter der Ärztekammer für Salzburg wenden.

      Das wär's fürs erste - ich wünsche einen guten Start!
    
    p
      strong Dr. Reinhard Bittner<br/>
      span Obmannstellvertreter Kurie angestellte Ärzte


  +section-content("Turnusärztereferat")
    a(name="ta-referat")
    +image(vavrovsky)
    +image(pagitsch, true)
    :marked
      ### Liebe Kolleginnen und Kollegen!

      Herzliche Gratulation zu Ihrer erfolgreichen Bewerbung und der Entscheidung, Ihre ärztliche Ausbildung im Bundesland Salzburg zu beginnen beziehungsweise fortzusetzen!

      Die fast konkurrenzlosen Freizeitmöglichkeiten in unserem Bundesland sind gerade im Arztberuf mit seiner großen Verantwortung und hohen Arbeitsbelastung besonders wichtig. Neben schöner Natur und Kultur bietet Ihnen Salzburg aber sicherlich auch ein facettenreiches Ausbildungsspektrum, welches von der Allgemeinpraxis im entlegenen Gebirgstal bis hin zur Universitätsklinik in der Landeshauptstadt reicht. Unser Tipp: Nutzen Sie die Möglichkeit zur Rotation zwischen den Ausbildungsstätten während Ihrer Ausbildung, um einen möglichst breiten praktischen und theoretischen Erfahrungsschatz zu sammeln!

      Eine gute ärztliche Ausbildung zu sichern – und wo Defizite bestehen, diese beheben zu helfen – ist wohl die wichtigste und zentralste Aufgabenstellung des Turnusärztereferates. Dabei sind wir Ansprechpartner für alle Auszubildenden, also sowohl für KollegInnen in Ausbildung zum Allgemeinmediziner als auch für jene, die in der Facharztausbildung stehen.

      Das **Turnusärztereferat erreichen Sie unter 0662-871327-127** (Frau **Andrea Grubinger**), mich erreichen Sie am besten per E-Mail. Mein Stellvertreter **Sebastian Pagitsch** ist ebenfalls für Sie erreichbar.

      Nach vorheriger Terminvereinbarung stehen wir Ihnen natürlich auch jederzeit gerne für ein persönliches Gespräch zur Verfügung.

      Aktuelle Themen aus dem Bereich Turnusärzte sowie allgemeine Informationen zu Ausbildungsfragen, Standesvertretung und Wohlfahrtsfonds finden Sie auch in unserer monatlich erscheinenden **Mitgliederzeitung „med.ium"** sowie auf unserer Homepage [www.aeksbg.at](http://www.aeksbg.at), das dafür nötige Passwort finden Sie hier auf Ihrer USB-Card.

      Im Namen des Turnusärztereferates der Salzburger Ärztekammer wünschen wir Ihnen einen guten Start sowie eine erfolgreiche und interessante Laufbahn hier in Salzburg.    
    p
      strong Dr. Matthias Vavrovsky<br/>
      span Turnusärztereferent
