.yui3-skin-sam .yui3-widget-mask {
  background-color: black;
  zoom: 1;
  -ms-filter: "alpha(opacity=40)";
  filter: alpha(opacity=40);
  opacity: .4
}
#yui3-css-stamp.skin-sam-widget-modality {
  display: none
}
.yui3-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  padding: .4em 1em .45em;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #444;
  color: rgba(0, 0, 0, 0.80);
  *color: #444;
  border: 1px solid #999;
  border: none rgba(0, 0, 0, 0);
  background-color: #e6e6e6;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.30)), color-stop(40%, rgba(255, 255, 255, 0.15)), to(transparent));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.15) 40%, transparent);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.15) 40%, transparent);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.15) 40%, transparent);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.15) 40%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.15) 40%, transparent);
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.30) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.30) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.30) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: .1s linear -webkit-box-shadow;
  -moz-transition: .1s linear -moz-box-shadow;
  -ms-transition: .1s linear box-shadow;
  -o-transition: .1s linear box-shadow;
  transition: .1s linear box-shadow
}
a.yui3-button {
  color: rgba(0, 0, 0, 0.80);
  color: #444;
  text-decoration: none
}
.yui3-button-hover, .yui3-button:hover {
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#26000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.15))
}
.yui3-button-active, .yui3-button:active {
  border: inset 1px solid #999;
  border: none rgba(0, 0, 0, 0);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#26000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.10)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 4px rgba(0, 0, 0, 0.30) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 4px rgba(0, 0, 0, 0.30) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 4px rgba(0, 0, 0, 0.30) inset
}
.yui3-button[disabled], .yui3-button-disabled, .yui3-button-disabled:hover, .yui3-button-disabled:active {
  cursor: default;
  background-image: none;
  filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
  filter: alpha(opacity=55);
  -khtml-opacity: .55;
  -moz-opacity: .55;
  opacity: .55;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset
}
.yui3-button-hidden {
  display: none
}
.yui3-button::-moz-focus-inner {
  padding: 0;
  border: 0
}
.yui3-button:-moz-focusring {
  outline: thin dotted
}
.yui3-skin-sam .yui3-button-primary, .yui3-skin-sam .yui3-button-selected {
  background-color: #345fcb;
  color: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.17) inset, 0 1px 2px rgba(0, 0, 0, 0.15)
}
.yui3-skin-sam .yui3-button:-moz-focusring {
  outline-color: rgba(0, 0, 0, 0.85)
}
.yui3-skin-night .yui3-button {
  border: 0;
  background-color: #343536;
  color: #dcdcdc;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.15)
}
.yui3-skin-night .yui3-button-primary, .yui3-skin-night .yui3-button-selected {
  background-color: #747576;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7)
}
.yui3-skin-night .yui3-button:-moz-focusring {
  outline-color: rgba(255, 255, 255, 0.85)
}
#yui3-css-stamp.cssbutton {
  display: none
}
.yui3-resize, .yui3-resize-wrapper {
  z-index: 0;
  zoom: 1
}
.yui3-resize-handle {
  position: absolute;
  display: block;
  z-index: 100;
  zoom: 1
}
.yui3-resize-proxy {
  position: absolute;
  border: 1px dashed #000;
  position: absolute;
  z-index: 10000
}
.yui3-resize-hidden-handles .yui3-resize-handle {
  opacity: 0;
  filter: alpha(opacity=0)
}
.yui3-resize-handle-t, .yui3-resize-handle-b {
  width: 100%;
  left: 0;
  height: 6px
}
.yui3-resize-handle-l, .yui3-resize-handle-r {
  height: 100%;
  top: 0;
  width: 6px
}
.yui3-resize-handle-t {
  cursor: n-resize;
  top: 0
}
.yui3-resize-handle-b {
  cursor: s-resize;
  bottom: 0
}
.yui3-resize-handle-l {
  cursor: w-resize;
  left: 0
}
.yui3-resize-handle-r {
  cursor: e-resize;
  right: 0
}
.yui3-resize-handle-inner {
  position: absolute;
  zoom: 1
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .yui3-resize-handle-inner:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute
  }
  .yui3-resize-handle-inner-r, .yui3-resize-handle-inner-l, .yui3-resize-handle-inner-t, .yui3-resize-handle-inner-b, .yui3-resize-handle-inner-tr, .yui3-resize-handle-inner-br, .yui3-resize-handle-inner-tl, .yui3-resize-handle-inner-bl {
    overflow: visible!important
  }
  .yui3-resize-handle-inner-r:after {
    top: -12px;
    right: 0
  }
  .yui3-resize-handle-inner-l:after {
    top: -12px;
    left: 0
  }
  .yui3-resize-handle-inner-t:after {
    top: 0;
    left: -12px
  }
  .yui3-resize-handle-inner-b:after {
    bottom: 0;
    left: -12px
  }
  .yui3-resize-handle-inner-tr:after {
    top: 0;
    right: 0
  }
  .yui3-resize-handle-inner-br:after {
    bottom: 0;
    right: 0
  }
  .yui3-resize-handle-inner-tl:after {
    top: 0;
    left: 0
  }
  .yui3-resize-handle-inner-bl:after {
    bottom: 0;
    left: 0
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .yui3-resize-handle-inner:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute
  }
  .yui3-resize-handle-inner-r, .yui3-resize-handle-inner-l, .yui3-resize-handle-inner-t, .yui3-resize-handle-inner-b, .yui3-resize-handle-inner-tr, .yui3-resize-handle-inner-br, .yui3-resize-handle-inner-tl, .yui3-resize-handle-inner-bl {
    overflow: visible!important
  }
  .yui3-resize-handle-inner-r:after {
    top: -6px;
    right: 0
  }
  .yui3-resize-handle-inner-l:after {
    top: -6px;
    left: 0
  }
  .yui3-resize-handle-inner-t:after {
    top: 0;
    left: -6px
  }
  .yui3-resize-handle-inner-b:after {
    bottom: 0;
    left: -6px
  }
  .yui3-resize-handle-inner-tr:after {
    top: 0;
    right: 0
  }
  .yui3-resize-handle-inner-br:after {
    bottom: 0;
    right: 0
  }
  .yui3-resize-handle-inner-tl:after {
    top: 0;
    left: 0
  }
  .yui3-resize-handle-inner-bl:after {
    bottom: 0;
    left: 0
  }
}
.yui3-resize-handle-inner-t, .yui3-resize-handle-inner-b {
  margin-left: -8px;
  left: 50%
}
.yui3-resize-handle-inner-l, .yui3-resize-handle-inner-r {
  margin-top: -8px;
  top: 50%
}
.yui3-resize-handle-inner-t {
  top: -4px
}
.yui3-resize-handle-inner-b {
  bottom: -4px
}
.yui3-resize-handle-inner-l {
  left: -4px
}
.yui3-resize-handle-inner-r {
  right: -4px
}
.yui3-resize-handle-tr, .yui3-resize-handle-br, .yui3-resize-handle-tl, .yui3-resize-handle-bl {
  height: 15px;
  width: 15px;
  z-index: 200
}
.yui3-resize-handle-tr {
  cursor: ne-resize;
  top: 0;
  right: 0
}
.yui3-resize-handle-tl {
  cursor: nw-resize;
  top: 0;
  left: 0
}
.yui3-resize-handle-br {
  cursor: se-resize;
  bottom: 0;
  right: 0
}
.yui3-resize-handle-bl {
  cursor: sw-resize;
  bottom: 0;
  left: 0
}
.yui3-resize-handle-inner-r, .yui3-resize-handle-inner-l, .yui3-resize-handle-inner-t, .yui3-resize-handle-inner-b, .yui3-resize-handle-inner-tr, .yui3-resize-handle-inner-br, .yui3-resize-handle-inner-tl, .yui3-resize-handle-inner-bl {
  background-repeat: no-repeat;
  background: url(/html/js/aui/resize-base/assets/skins/sam/arrows.png) no-repeat 0 0;
  display: block;
  height: 15px;
  overflow: hidden;
  text-indent: -99999em;
  width: 15px
}
.yui3-resize-handle-inner-br {
  background-position: -30px 0;
  bottom: -2px;
  right: -2px
}
.yui3-resize-handle-inner-tr {
  background-position: -58px 0;
  bottom: 0;
  right: -2px
}
.yui3-resize-handle-inner-bl {
  background-position: -75px 0;
  bottom: -2px;
  right: -2px
}
.yui3-resize-handle-inner-tl {
  background-position: -47px 0;
  bottom: 0;
  right: -2px
}
.yui3-resize-handle-inner-b, .yui3-resize-handle-inner-t {
  background-position: -15px 0
}
#yui3-css-stamp.skin-sam-resize-base {
  display: none
}
