.yui3-widget-stacked .yui3-widget-shim {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  _width: 0;
  _height: 0
}
#yui3-css-stamp.skin-sam-widget-stack {
  display: none
}
.yui3-widget-hidden {
  display: none
}
.yui3-widget-content {
  overflow: hidden
}
.yui3-widget-content-expanded {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%
}
.yui3-widget-tmp-forcesize {
  overflow: hidden!important
}
#yui3-css-stamp.skin-sam-widget-base {
  display: none
}
