#credential-area {
  position: absolute;
  top: 93px;
  right: 23px;
  background: white;
  border-radius: 8px;
  box-shadow: 6px 6px 12px #333;
  min-width: 100px;
  padding: 10px;
  opacity: 0.8;
  font-size: 120%;
  z-index: 999;
}

#username, #password {
  font-weight: bold;
}

#credential-area > div {
  font-size: 130%;
  padding: 4px;
}
