.aui #wrapper .pak-servicebox .servicebox-entry {
  font-weight: bold;
  padding: 3px;
  min-height: 40px;
  display: table
}
.aui #wrapper .pak-servicebox .servicebox-entry .icon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 5px;
  background-repeat: no-repeat;
  display: table-cell
}
.aui #wrapper .pak-servicebox .servicebox-entry .text {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  vertical-align: middle;
  display: table-cell
}
.aui #wrapper .pak-servicebox .servicebox-entry a.text:hover {
  font-size: 14px;
  text-decoration: none;
  color: #333
}
.aui #wrapper .pak-servicebox .servicebox-entry span.text {
  color: #aaa
}
.aui #wrapper .pak-servicebox .servicebox-entry .arztsuche {
  background-image: url("../img/apps/arztsuche.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .fbkalender {
  background-image: url("../img/apps/fbkalender.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .fbkonto {
  background-image: url("../img/apps/fbkonto.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .diensteinteilung {
  background-image: url("../img/apps/diensteinteilung.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .selbsteval {
  background-image: url("../img/apps/selbsteval.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .funksuche {
  background-image: url("../img/apps/funksuche.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .marbsuche {
  background-image: url("../img/apps/marbsuche.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .vacmgmt {
  background-image: url("../img/apps/vacmgmt.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .notdienste {
  background-image: url("../img/apps/notdienste.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .arztrow {
  background-image: url("../img/apps/arztrow.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .kundmachungen {
  background-image: url("../img/apps/kundmachungen.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .patientensicherheit {
  background-image: url("../img/apps/patientensicherheit.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .rasterzeugnisse {
  background-image: url("../img/apps/rasterzeugnisse.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .referate {
  background-image: url("../img/apps/referate.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .veranstaltungen {
  background-image: url("../img/apps/veranstaltungen.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .verordnungen {
  background-image: url("../img/apps/verordnungen.png")
}
.aui #wrapper .pak-servicebox .servicebox-entry .vorsorge {
  background-image: url("../img/apps/vorsorge.png")
}
