.portlet-journal-content .journal-content-article {
  clear: right
}
.portlet-journal-content .journal-content-article:after {
  clear: both;
  content: "";
  display: block;
  height: 0
}
.portlet-journal-content .taglib-discussion {
  margin-top: 18px
}
.portlet-journal-content .taglib-ratings-wrapper {
  margin-top: 1em
}
.portlet-journal-content .tabview-list {
  margin: 18px 0
}
.portlet-journal-content .user-actions {
  padding-bottom: 2.5em
}
.portlet-journal-content .user-actions .export-actions, .portlet-journal-content .user-actions .print-action, .portlet-journal-content .user-actions .locale-actions {
  float: right
}
.portlet-journal-content .user-actions .print-action {
  margin-left: 1em
}
.portlet-journal-content .user-actions .locale-separator {
  border-right: 1px solid #CCC;
  float: right;
  margin-right: 1em;
  padding: .8em .5em
}
.portlet-configuration .displaying-article-id.modified {
  color: #4dcf0c
}
