extends _allgemeines

block append column-3
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-erste-schritte", schnoell)
    +portlet_person("ansprechpartner-erste-schritte-stv", haas)
    
block column-1  
  +section-content("Erste Turnusschritte")
    :marked
