extends _aus_fortbildung
  
block column-1  
  +section-content("Ausbildungsinhalte für ÄrztInnen für Allgemeinmedizin")
    :marked
      Bislang ist die Dauer der Ausbildung zur ÄrztIn für Allgemeinmedizin 3 Jahre und hat folgende
      Fächer zu umfassen:
        
      Siehe Details auf unserer [Homepage](http://www.aeksbg.at/arzte-ausbildungsordnung-aktuell)!

      Detaillierte Ausbildungsinhalte befinden sich in den Rasterzeugnissen der jeweiligen
      Ausbildungsfächer. Es ist möglich bislang 6 monatige Ausbildung im Fach Allgemeinmedizin
      entweder in anerkannten Lehrgruppenpraxen, Lehrambulatoren oder Einrichtungen die der
      medizinischen Erstversorgung dienen (Spitalsambulanzen) zu absolvieren zu können. Das
      sind primär chirurgische unfallchirurgische oder interne Ambulanzen. Dies wird durch die
      Novellierung geändert, da bei der Ausbildung zum Arzt für Allgemeinmedizin neu nunmehr 12
      Monate verpflichtend in der Lehrpraxis stattfinden müssen und dann 27 Monate
      fachspezifische Ausbildung im Krankenhaus zu erfolgen hat.

      Zu beachten ist jedoch, dass nicht jede Zuteilung auf eine Spitalsambulanz automatisch als
      Ausbildungszeit im Fach für Allgemeinmedizin angerechnet wird. Es ist daher von Bedeutung
      bereits vorher abzuklären, ob eine geplante Zuteilung auch tatsächlich angerechnet wird und
      nicht umsonst Monate in einer Zuteilung zu absolvieren.

      Wesentlich ist, dass neben der praktischen Ausbildung diese auch theoretische Inhalte
      umfassen muss, sowie Kenntnisse für die Ausübung des ärztlichen Berufs einschlägigen
      Rechtsvorschriften insbesondere hinsichtlich Aufklärung, Dokumentation Qualitätssicherung.
      Die Kenntnisse können durch externe sowie hausinterne Fortbildungen erfolgen, wobei diese
      zur Gänze in der Dienstzeit durchzuführen bzw. man dafür von Arbeitgeber freizustellen ist.

      **Achtung!** Fortbildungen die über die Dienstzeit hinausgehen sind als Überstunden zu
      vergüten.

      Am Ende der Ausbildung ist jedenfalls eine schriftliche Prüfung zur ÄrztIn für
      Allgemeinmedizin abzulegen. Bis dahin müssen mindestens 30 Ausbildungsmonate absolviert
      werden. Die Anmeldung erfolgt in der Ärztekammer für Salzburg, das heißt in der örtlichen
      Landesärztekammer zu deren Mitgliedschaft man gehört. Nähere Details befinden sich auf der
      Homepage der Arztakademie unter www.arztakademie.at. Weitere Details befinden sich auch
      auf unserer Homepage unter www.aeksbg.at/arztprufung.

      **Wichtig!** Für eine Facharztausbildung kann die Ausbildung zur ÄrztIn für Allgemeinmedizin
      nur als Nebenfachzeit aber niemals als Hauptfachzeit angerechnet werden! Dies sollte man
      jedenfalls unbedingt bedenken.

  +section-content("Ausbildung zum Facharzt")
    :marked
      Ausbildung zum Facharzt eines Sonderfaches ist auf folgenden Gebieten der Medizin möglich
      (Details siehe unsere [Homepage](http://www.aeksbg.at/arzte-ausbildungsordnung-aktuell)):
        
      1. Anästhesiologie und Intensivmedizin
      2. Anatomie
      3. Arbeitsmedizin
      4. Augenheilkunde und Optometrie
      5. Blutgruppenserologie und Transfusionsmedizin
      6. Chirurgie
      7. Frauenheilkunde und Geburtshilfe
      8. Gerichtsmedizin
      9. Hals-, Nasen- und Ohrenkrankheiten
      10. Haut- und Geschlechtskrankheiten
      11. Herzchirurgie
      12. Histologie und Embryologie
      13. Hygiene und Mikrobiologie
      14. Immunologie
      15. Innere Medizin
      16. Kinder- und Jugendchirurgie
      17. Kinder- und Jugendheilkunde
      18. Kinder- und Jugendpsychiatrie
      19. Lungenkrankheiten
      20. Medizinische Biophysik
      21. Medizinische Genetik
      22. Medizinische und chemische Labordiagnostik
      23. Medizinische Leistungsphysiologie
      24. Mund-Kiefer-Gesichtschirurgie
      25. Neurobiologie
      26. Neurochirurgie
      27. Neurologie
      28. Neuropathologie
      29. Nuklearmedizin
      30. Orthopädie und orthopädische Chirurgie
      31. Pathologie
      32. Pathophysiologie
      33. Pharmakologie und Toxikologie
      34. Physikalische Medizin und allgemeine Rehabilitation
      35. Physiologie
      36. Plastische, ästhetische und rekonstruktive Chirurgie
      37. Psychiatrie und psychotherapeutische Medizin
      38. Radiologie
      39. Sozialmedizin
      40. Spezifische Prophylaxe und Tropenmedizin
      41. Strahlentherapie-Radioonkologie
      42. Thoraxchirurgie
      43. Unfallchirurgie
      44. Urologie
      45. Virologie
      
      Auch hier finden sich die einzelnen detaillierten Ausbildungsinhalte in den jeweiligen
      Rasterzeugnissen für das jeweilige Hauptfach. Durch diese Ausbildungsinhalte grenzt man
      sich später auch durch seine Berufsberechtigung als Facharzt ab. In der bisherigen
      Ausbildung dauert das Sonderfach mindestens 6 Jahre wobei auf das eigentliche Sonderfach,
      das ist das Hauptfach 3-5 Jahre entfallen. Die restlichen 1-3 Jahre gliedern sich dann in
      Pflicht bzw. Wahlnebenfächer. Anders nach der Ausbildungsnovelle hier ist geplant, 
      dass es grundsätzlich 9 Monate klinische Grundkompetenz gibt und dann für die
      Facharztweiterbildung (nicht mehr Ausbildung genannt) 5,25 Jahre Hauptfach ohne weitere
      Gegenfächer vorgesehen sind.

      Doch auch in der Facharztausbildung muss praktische Ausbildung mit der theoretischen
      begleitet werden und die Kenntnisse über die ärztlichen Berufsvorschriften einschließlich der
      Rechtsvorschriften wie Dokumentation, der Aufklärung sowie der Qualitätssicherung
      theoretisch vermittelt werden. Hier sind die Kenntnisse sowohl krankenhausintern oder durch
      externe Fortbildungen zu vermitteln. Eine gänzliche Freistellung vom Dienst ist hierfür
      durchzuführen.

      **Achtung!** Geht jedenfalls die Fortbildung über die Dienstzeit hinaus sind hierfür die
      Überstunden zu dokumentieren und zu vergüten.

      Ergänzend zu der Ausbildung ist jedenfalls eine Facharztprüfung abzulegen. Diese ist von
      Sonderfach zu Sonderfach unterschiedlich gestaltet. Die Anmeldung zur Prüfung ist dann
      möglich wenn 44 Ausbildungsmonate, tunlich im Hauptfach, absolviert sind. Die Anmeldung
      für die Facharztprüfung erfolgt in der Landesärztekammer in dessen Mitglied man ist. Es ist
      trotzdem wichtig sich bereits vorab zu erkundigen wann und wie die Termine stattfinden.
      Näheres befindet sich auf der [Homepage der Arztakademie](http://www.arztakademie.at).
      Weitere Details befinden sich auch auf [unserer Homepage](http://www.aeksbg.at/arztprufung).

      **Wichtig!** Es ist äußerst wichtig, dass man, um die Ausbildung im Hauptfach auch
      angerechnet zu bekommen, auf eine Ausbildungsstelle gemeldet ist. Ansonsten könnte
      nämlich die Ausbildungszeit nicht entsprechend angerechnet werden. Es ist wichtig sich daher
      ehestmöglich sich beim Dienstgeber bzw. in der Ärztekammer für Salzburg zu erkundigen, ob
      man tatsächlich auf eine Ausbildungsstelle gemeldet ist.
      
      Weiteres kann man im [Österreichischen Ausbildungsstättenverzeichnis der Österreichischen
      Ärztekammer](http://www.aerztekammer.at/ausbildungsstattenverzeichnis) nachlesen,
      über wie viele Ausbildungsstellen die eigene Abteilung tatsächlich verfügt.
