extends _allgemeines

block append column-3
  +portlet_persongroup("Ansprechpartner")
    +portlet_person("ansprechpartner-haftpflicht1", koller)
    +portlet_person("ansprechpartner-haftpflicht2", buchmayer)
    +portlet_person("ansprechpartner-haftpflicht3", feil)

block column-1  
  +section-content("Haftpflichtversicherung")
    :marked
